<html>
<head>
  <title>Recipes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>    
  <%= javascript_include_tag :defaults %> 
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
