/*
this is so the columnPicker is visible even if the records table is shorter than the columnPicker. I think there's a bug in FF/Safari, as I seem to have to set overflow-x: visible before they'll show what is essentially a y-overflow. I can't seem to set y-overflow: visible separately.

IE6 seems to perform the correct behaviour for overflow-x and overflow-y.
*/
.js #recordsTableContainer {
	overflow-x: hidden;
}
button, .button {
	border: 1px #000000;
	text-align: center;
}