/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
p {
	padding-bottom: 1em;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* wiki-data styles */
/* main */
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Arial,sans-serif;
	font-size: 14px;
	background-color: #fffef0;
}
pre {
	line-height: 150%;
	border: 1px solid #999999;
	padding: 10px;
	margin: 10px 0;
}
pre, code {
	font-family: monospace;
	background-color: #D5D5D5;
}
em {
	font-style: italic;
}
#wrapper {
	width: 960px;
	margin: auto;
	padding-top: 20px;
}
.right {
	float: right;
}
a, a:visited, a:hover, a:active {
	color: #999999;
}
.small {
	font-size: 11px;
}
strong {
	font-weight: bold;
}
h1 {
	padding: 0;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 24px;
}
h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
h3 {
	font-size: 16px;
	margin-bottom: 10px;
}
h4 {
	margin-bottom: 10px;
}
button {
	cursor: pointer;
}
/* backstage */
#backstage {
	position: absolute;
	top: 0;
	right: 0;
	height: 16px;
	width: 100%;
	padding: 2px;
	text-align: right;
	font-size: small;
}
#backstage.loggedIn {
	background-color: #ffff66;
}
/* header */
#header {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
}
#header div {
	width: 690px;
	height: 100px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
}
#header a {
	text-decoration: none;
}
#header h1 {
	width: 152px;
	height: 93px;
	margin: 4px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/wiki-data-beta-logo.gif') no-repeat top left;
	/* I need to check out whether the next line is needed - it's here because I think IE doesn't change the cursor to a pointer if the header is the thing being hovered over */
	cursor: pointer;
}
#header div.right {
	margin-left: 20px;
	width: 240px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#header div.right p {
	padding: 17px;
	line-height: 17px;
}
#header img { /* JRL: temporary banner */
	float: right;
	position: absolute;
	top: 24px;
	right: 274px;
}
.definition {
	letter-spacing: 2px;
}
/* index page */
div.intro {
	padding-bottom: 20px;
	width: 690px;
}
div.notice {
	padding: 20px;
	background-color: #000000;
	color: #cccccc;
}
/* search */
#search {
	width: 680px;
	background-color: #000000;
	padding: 5px;
	margin-bottom: 20px;
	color: #777777;
}
#search a, #search a:visited, #search a:hover, #search a:active {
	color: #999999;
}
#search a.advanced {
	text-decoration: none;
}
#search label {
	font-style: italic;
	padding-right: 5px;
}
#advancedSearchContainer {
	display: block;
}
#advancedSearchContainer .label {
	padding-top: 5px;
}
#advancedSearchContainer .advSearchLine {
	padding-top: 5px;
}
#advancedSearchContainer .advSearchLine select, #advancedSearchContainer .advSearchLine input {
	margin-right: 4px;
}
.js #advancedSearchContainer {
	display: none;
}
/* records table */
.js #recordsTableContainer { /* overriden in ie6.css */
	overflow-x: visible;
}
#recordsTableContainer {
	width: 100%;
	border: 1px solid #000000;
	overflow-x: auto;
}
#results {
	background-color: #000000;
	padding: 5px;
	color: #777777;
	position: relative;
	z-index: 2;
}
#columnPicker {
	background-color: #EEEEEE;
	position: absolute;
	top: 3px;
	right: 5px;
	display: block;
	line-height: 12px;
	z-index: 3;
}
#pickerControl {
	text-align: right;
}
#columnPicker div {
	margin: 2px;
}
#columnPicker .label {
	font-style: italic;
	margin: 0 5em 2px 0;
}
#columnPicker div.label {
	margin-top: 2px;
	margin-left: 5px;
}
#columnPicker .columns {
	position: relative;
	display: none;
}
#columnPicker .controls {
	position: absolute;
	top: 0px;
	right: 0px;
}
#columnPicker .hideControl {
	font-weight: bold;
	cursor: pointer;
}
#columnPicker .invisible .hideControl {
	font-weight: normal;
	cursor: text;
}
#columnPicker .invisible .showControl {
	font-weight: bold;
	cursor: pointer;
}
.js #columnPicker {
	display: block;
}
#recordsTable_wrapper {
	z-index: 1;
}
.js #recordsTable_wrapper {
	overflow: hidden;
}
.js #recordsTable {
	visibility: hidden;
}
table {
	border-collapse: collapse;
	background-color: #d5d5d5;
	width: inherit;
	overflow: hidden;
}
table a, table a:active, table a:hover, table a:visited {
	color: #777777;
	text-decoration: none;
	border-bottom: 1px dotted #000099;
}
.center {
	text-align: center;
}
th {
	text-align: left;
	padding: 5px;
	cursor: pointer;
	font-size: 12px;
}
tr.odd {
	background-color: #c6c6c6;
}
tr, tr.even {
	background-color: #d6d6d6;
}
td {
	padding: 5px;
	font-size: smaller;
}
tfoot.dark th {
	background-color: #b6b6b6;
}
tfoot th {
	font-weight: normal;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	/*background: url('../images/sort_asc.jpg') no-repeat center right;*/
}

.sorting_desc {
	/*background: url('../images/sort_desc.jpg') no-repeat center right;*/
}

.sorting {
	/*background: url('../images/sort_both.jpg') no-repeat center right;*/
}
/* footer */
#footer {
	margin-top: 20px;
	padding: 7px;
	background-color: #999999;
	color: #CCCCCC;
	font-size: smaller;
}
#footer li {
	list-style: none;
	display: inline;
}
#footer a {
	color: #EEEEEE;
}
/* company page */
.js div.company {
	visibility: hidden;
}
div.company {
	position: relative;
}
.company .vcard {
	background-color: #eeeeff;
	padding: 10px 20px;
	width: 650px;
}
.company .company-name {
	color: #000099;
}
.company .adr {
	padding-top:10px;
}
#map {
	margin: 1em 0;
}
.company .complete {
	float:right;
	position:absolute;
	right:0;
	top:0;
	width:240px;
}
.company table td {
	background-color: #FFFF66;
}
/* challenge, request and suggest_new tables */
#challenge, #request, #suggest_new {
	position: relative;
}
#challenge div.left, #request div.left, #suggest_new div.left {
	width: 500px;
	display: inline-block;
}
.js #challenge div.right, #request div.right, #suggest_new div.right {
	visibility: hidden;
}
#challenge div.right, #request div.right, #suggest_new div.right {
	width: 300px;
	padding-right: 20px;
	line-height: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
}
#challenge div.right label, #request div.right label, #suggest_new div.right label {
	margin-top: 5px;
}
#request ul {
	padding: 10px 0;
}
.js table.fields {
	visibility: hidden;
}
table.fields td {
	vertical-align: middle;
}
table.fields label {
	color: #777777;
}
#challenge label, #request label, #suggest_new label {
	display: block;
}
table.fields td span {
	font-size: medium;
}
.captcha_error {
	color: #ff0000;
}
/* terms of use, about, partners */
#terms_of_use, #about, #partners {
	line-height: 150%;
}
#terms_of_use ol {
	margin-left: 50px;
}
#terms_of_use ol.sub_list {
	list-style-type: lower-roman;
}
#partners ul {
	margin-left: 50px;
}
#api p {
	padding-bottom: 4px;
	line-height: 17px;
}
#api table {
	margin: 10px 0;
}

#news {
	width: 240px;
	float: right;
	margin-left: 20px;
	background-color: #FFFF66;
	padding-top: 1em;
}

#news p {
	line-height: 17px;
	margin: 0 17px;
}