/* main */
body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	background-color: #fffef0;
}
#wrapper {
	width: 960px;
	margin: auto;
	margin-top: 20px;
}
.right {
	float: right;
}
a, a:visited, a:hover, a:active {
	color: #999999;
}
.small {
	font-size: 11px;
}
strong {
	font-weight: bold;
}
p {
	padding-bottom: 4px;
}
h1 {
	padding: 0;
	margin: 0;
	display: inline-block;
	font-family: "Lucida Grande",Arial,sans-serif;
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
/* header */
#header {
	width: 100%;
	margin-bottom: 20px;
}
#header div {
	display: inline-block;
	width: 690px;
	height: 100px;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	border-top: 7px solid #000000;
	border-bottom: 7px solid #000000;
}
#header h1 {
	width: 152px;
	height: 93px;
	margin: 4px;
	text-indent: -9999px;
	overflow: hidden;
	background: url('../images/WikiDataLogo.gif') no-repeat top left;
}
#header div.right {
	margin-left: 20px;
	width: 240px;
}
#header div.right p {
	padding: 17px;
	line-height: 17px;
}
.definition {
	letter-spacing: 2px;
}
/* search */
#search {
	width: 680px;
	background-color: #000000;
	padding: 5px;
	margin-bottom: 20px;
}
#search a, #search a:visited, #search a:hover, #search a:active {
	color: #999999;
}
#search input.interior_text {
	font-style: italic;
	font-family: "Times New Roman", serif;
	color: #777777;
}
#advancedSearch {
	display: block;
}
#advancedSearch .advSearchLine {
	padding-top: 5px;
}
.js #advancedSearch {
	display: none;
}
/* records table */
#recordsTableContainer {
	width: 100%;
	border: 1px solid #000000;
}
#results {
	background-color: #000000;
	padding: 5px;
	color: #777777;
}
table {
	border-collapse: collapse;
	background-color: #d5d5d5;
	font-family: "Georgia", serif;
}
table a, table a:active, table a:hover, table a:visited {
	color: #777777;
}
.center {
	text-align: center;
}
th {
	text-align: left;
	padding: 5px;
	cursor: pointer;
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
}
tr.odd {
	background-color: #c6c6c6;
}
tr, tr.even {
	background-color: #d6d6d6;
}
td {
	padding: 5px;
	font-size: smaller;
}
tfoot.dark th {
	background-color: #b6b6b6;
}
tfoot th {
	font-weight: normal;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	/*background: url('../images/sort_asc.jpg') no-repeat center right;*/
}

.sorting_desc {
	/*background: url('../images/sort_desc.jpg') no-repeat center right;*/
}

.sorting {
	/*background: url('../images/sort_both.jpg') no-repeat center right;*/
}
/* footer */
#footer {
	margin-top: 20px;
	padding: 7px;
	background-color: #999999;
	color: #CCCCCC;
	font-size: smaller;
}
#footer li {
	list-style: none;
	display: inline;
}
#footer a {
	color: #CCCCCC;
}
/* challenge table */
#challenge div.left {
	width: 500px;
	display: inline-block;
}
#challenge div.right {
	width: 300px;
	padding-right: 20px;
}
table.challenge td {
	vertical-align: middle;
}
table.challenge label {
	color: #777777;
}
#challenge label {
	display: block;
}
table.challenge td span {
	font-size: medium;
}
.captcha_error {
	color: #ff0000;
}