body { padding: 0; background: url(15original.gif); font-family: Gill Sans, sans-serif; line-height: 1.2em; text-align: justify; }
p { margin-top: 10px; }
h2 { margin: 1em 0 0; }
ul { list-style: none; padding-left: 0; }
#main { background: white; border: 2px solid #568; width: 30em; margin: 1em auto; padding: 1em 2em; }
#bookmarkletWrapper { margin-top: 10px; }
a#bookmarklet { background: #269; border: 1px solid #236; color: white; text-decoration: none; padding: 5px; cursor: move; }
#main li { margin: 1em 0; }
#welcomeSide { width: 215px; margin: 14px 0 10px 20px; float: right; text-align: center; }
#downloadWrapper { width: 200px; display: block; margin-bottom: 10px; background: #ff2; color: #444; padding: 5px; text-decoration: none; border: 2px solid #990; }
#downloadWrapper #prompt { color: #00f; font-size: 1.2em; font-family: georgia; }
#downloadWrapper #explanation { font-size: 0.7em; font-family: times new roman; }
#shotWrapper img { width: 400; margin: 0; border: 2px solid #00b; }
#video { margin-top: 1em; }
#video p { margin-top: 0.2em; }
.clearance { clear: right; height: 1px; }
.commentsArea ul { list-style-type: none; padding-left: 0; }
.commentsArea li { margin-bottom: 1em; }
.commentsArea a, .commentsArea a:visited { text-decoration: none; color: #00f; }
.commentsArea a:hover { background: #00f; color: white; }
textarea { width: 100%; }
#svn { overflow-x: auto; font-family: courier, serif; }
/* a img { width: 400px; margin: 0 auto 0 0; display: block; margin-bottom: 20px; } */
