<html>
<head>
  <script src='/ideas/javascript/comments.js'></script>
  <link rel="stylesheet" href="/ideas/static/css/stylesheet.css" type="text/css"></link>
  {% block rss %}{%endblock%}
  
</head>
<body>
	
  {% include "header.html" %}
<div id="navBar">
{% include 'loginbox.html' with context %}
  {% include "nav.html" with context %}
  {% block head %}
  {% endblock %}
</div>

<div id="leftColumn">
	<div class="box">
  {% block leftNav %}
  {% endblock %}
</div>
<div class="box">
  {% block topIdeas %}
  {% endblock %}
</div>
</div>

<div id="rightColumn">
<div class="box">
  {% block submitIdeaButton %}
  {% endblock %}
</div>
<div class="box">
  {% block tags %}
  {% endblock %}
</div>
<div class="box">
  {% block topContributors %}
  {% endblock %}
</div>
</div>

<div id="bodyColumn">
<div class="box">
  {% block body %}
  {% endblock %}
</div>
  {% block stream %}
  {% endblock %}
</div>

</body>
</html>


