<%= error_messages_for 'directory' %>

<!--[form:directory]-->
<p><label for="directory_path">Path</label><br/>
<%= text_field 'directory', 'path', "size" => 70  %></p>         
 
<!--[eoform:directory]-->

