{% set fields = commonVars.fields %}
<script type="text/javascript">
	window.asyncSearch = true;
</script>
<div id="pagenav">
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="lightborder darkgreen caps onlyjs" id="backnav">Back</a></li>
	</ul>
</div>

<div id="searchtitle" class="darkgreen">
	<div class="wrap">
		<h2>Search Option</h2>
		<span> - Add company name or unique AVID number to search for a business</span>
	</div>
</div>
<div id="content">
	{% include 'search.html' %}
	
	<div id="table" class="wrap">
		{% set count = tiddlers|count %}
		<div id="tableinfo">
			<span class="darktext" id="results_count">Loading results...</span>
			<div id="columnPicker" class="onlyjs">
				<button class="darkgreen whitetext lightborder caps right" id="pickerControl">Hide/Show Columns</button>
				<div id="cols">
					{% for field, label in fields %}
					<div class="columns">
						<span class="label">{{label}}</span>
						<span class="controls">
							<span class="hideControl">hide</span>|<span class="showControl">show</span>
						</span>
					</div>
					{% endfor %}
				</div>
			</div>
			<br class="clearboth" />
		</div>
		
		<table id="recordsTable" class="draggable forget-ordering">
			<thead>
				<tr>
					<th>AVID</th>
				{% for field, label in fields %}
					<th>{{label}}</th>
				{% endfor %}
					<th>Challenge</th>
					<th>Request More Info</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th><a href="javascript:;">hide</a></th>
				{% for field, label in fields %}
					<th><a href="javascript:;">hide</a></th>
				{% endfor %}
					<th><a href="javascript:;">hide</a></th>
					<th><a href="javascript:;">hide</a></th>
				</tr>
			</tfoot>
			<tbody>
			{% for tiddler in tiddlers %}
				<tr>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>