<script type="text/javascript">
	window.asyncSearch = true;
</script>
{% from 'labels.html' import labels %}
<div id="recordsTableContainer">
	<div id="results">
		<p class="small" id="results_count"></p>
		<div class="right small" id="columnPicker">
			<div class="label">hide/show columns</div>
			{% for field, label in labels %}
			<div class="columns">
				<span class="label">{{label}}</span>
				<span class="controls">
					<span class="hideControl">hide</span>|<span class="showControl">show</span>
				</span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="recordsTable_wrapper" class="dataTables_wrapper"><table class="draggable forget-ordering" id="recordsTable">
		<thead>
			<tr>
			{% for field, label in labels %}
				<th>{{label}}</th>
			{% endfor %}
				<th>Challenge</th>
				<th>Request More Info</th>
			</tr>
		</thead>
		<tfoot class="dark">
			<tr>
			{% for field, label in labels %}
				<th><a href="javascript:;">hide</a></th>
			{% endfor %}
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
			</tr>
		</tfoot>
		<tbody>	
			<tr>
			{% for field, label in labels %}
				<td></td>
			{% endfor %}
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table></div>
</div>