<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Using the wiki-data API</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
			<p>wiki-data exposes its data in several formats through an API. To use the public data fields, you do not need a developer account. Non-public fields (as described in the <a href="http://www.avox.info/pdfs/wikidata_field_specs.pdf">field spec</a>) are available with a developer account. At the moment, developer accounts are invite-only; if you would like to take advantage of the non-public fields, please get in touch at <a href="mailto:support@wiki-data.com">support@wiki-data.com</a></p>
			<h3>Search request</h3>
			<p>You can request data in JSON, text or HTML format. Requesting in HTML format produces the same result as visiting the website in a browser. A JSONP wrapper is available to enable cross-domain data requests.</p>
			<p>The endpoint for a search request is:</p>
			<pre>http://wiki-data.com/search</pre>
			<p>You can use the <code>Accept</code> HTTP header to choose the format of the response; alternatively, you can specify the format in the extension to the endpoint:</p>
			<table>
				<thead>
					<tr>
						<th><strong>format</strong></th>
						<th><strong>Accept header</strong></th>
						<th><strong>endpoint</strong></th>
					</tr>
				</thead>
				</tbody>
					<tr>
						<td>JSON</td>
						<td>application/json</td>
						<td>/search.json</td>
					</tr>
					<tr>
						<td>text</td>
						<td>text/plain</td>
						<td>/search.txt</td>
					</tr>
					<tr>
						<td>HTML</td>
						<td>text/html</td>
						<td>/search</td>
					</tr>
				</tbody>
			</table>
			<h4>JSONP requests</h4>
			<p>You can make cross-domain JSON search requests by specifying a <code>jsonp_callback</code> parameter in the query string. This wraps the returned data with a function call to whatever you choose as the value of the <code>jsonp_callback</code> parameter.</p>
			<p>The API understands query string parameters delimited by either "&" or ";" characters, so both these requests are equivalent:</p>
			<pre><code>http://wiki-data.com/search.json?q=mycompany&jsonp_callback=myCallback
http://wiki-data.com/search.json?q=mycompany;jsonp_callback=myCallback</code></pre>
			<p>To make use of the JSONP callback, add a <code>script</code> tag to your page with the search query as the <code>src</code> - the callback will be executed as soon as the code is loaded:</p>
			<pre><code>var myCallback = function(response) {
// do something
};
var s = document.createElement('script');
s.src = "http://wiki-data.com/search.json?
	q=mycompany&jsonp_callback=myCallback";
document.head.appendChild(s);</code></pre>
			<p>If you use jQuery in your application, you can make use of its in-built JSONP handling:</p>
			<pre><code>$.getJSON(
	"http://wiki-data.com/search.json?q=mycompany&jsonp_callback=?",
	function(response) {
		// do something
	}
);</code></pre>
			<h4>Fields to search data by - open fields</h4>
			<p>The simplest query you can make is by using the <code>q</code> parameter in the query string. This searches <em>Legal Name</em>, <em>Previous Name(s)</em> and <em>Trades As Names(s)</em> fields for a match</p>
			<p>You can search the public data by any of the following fields. The query string parameter is the human-readable field name transformed to lower-case with " ", "(" and ")" replaced by "_":</p>
			<table>
				<thead>
					<tr>
						<th><strong>field<strong></td>
						<th><strong>query string parameter</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>AVID</td>
						<td>avid</td>
					</tr>
					<tr>
						<td>Legal Name</td>
						<td>legal_name</td>
					</tr>
					<tr>
						<td>Previous Name(s)</td>
						<td>previous_name_s_</td>
					</tr>
					<tr>
						<td>Trades As Names(s)</td>
						<td>trades_as_name_s_</td>
					</tr>
					<tr>
						<td>Trading Status</td>
						<td>trading_status</td>
					</tr>
					<tr>
						<td>Company Website</td>
						<td>company_website</td>
					</tr>
					<tr>
						<td>Registered Country</td>
						<td>registered_country</td>
					</tr>
					<tr>
						<td>Operational PO Box</td>
						<td>operational_po_box</td>
					</tr>
					<tr>
						<td>Operational Street 1</td>
						<td>operational_street_1</td>
					</tr>
					<tr>
						<td>Operational Street 2</td>
						<td>operational_street_2</td>
					</tr>
					<tr>
						<td>Operational Street 3</td>
						<td>operational_street_3</td>
					</tr>
					<tr>
						<td>Operational City</td>
						<td>operational_city</td>
					</tr>
					<tr>
						<td>Operational Country</td>
						<td>operational_country</td>
					</tr>
					<tr>
						<td>Operational Postcode</td>
						<td>operational_postcode</td>
					</tr>
				</tbody>
			</table>
			<h4>Fields to search data by - developer account</h4>
			<p>If you have a developer account, you also have access to the following fields:</p>
			<table>
				<thead>
					<tr>
						<th><strong>field<strong></td>
						<th><strong>query string parameter</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Avox Match Status</td>
						<td>avox_match_status</td>
					</tr>
					<tr>
						<td>Avox Entity Class</td>
						<td>avox_entity_class</td>
					</tr>
					<tr>
						<td>Avox Entity Type</td>
						<td>avox_entity_type</td>
					</tr>
					<tr>
						<td>Record Source</td>
						<td>record_source</td>
					</tr>
					<tr>
						<td>Name Notes</td>
						<td>name_notes</td>
					</tr>
					<tr>
						<td>Legal Form</td>
						<td>legal_form</td>
					</tr>
					<tr>
						<td>SWIFT BIC</td>
						<td>swift_bic</td>
					</tr>
					<tr>
						<td>VAT Number</td>
						<td>vat_number</td>
					</tr>
					<tr>
						<td>Tax Payer ID</td>
						<td>tax_payer_id</td>
					</tr>
					<tr>
						<td>Registered By</td>
						<td>regulated_by</td>
					</tr>
					<tr>
						<td>Regulator ID</td>
						<td>regulator_id</td>
					</tr>
					<tr>
						<td>Regulatory Status</td>
						<td>regulatory_status</td>
					</tr>
					<tr>
						<td>Registration Authority</td>
						<td>registration_authority</td>
					</tr>
					<tr>
						<td>Registration Number Operational</td>
						<td>registration_number__operational_</td>
					</tr>
					<tr>
						<td>Registration Number Jurisdiction</td>
						<td>registration_number__jurisdiction_</td>
					</tr>
					<tr>
						<td>Date Of Registration</td>
						<td>date_of_registration</td>
					</tr>
					<tr>
						<td>Date Of Dissolution</td>
						<td>date_of_dissolution</td>
					</tr>
					<tr>
						<td>Issuer Flag</td>
						<td>issuer_flag</td>
					</tr>
					<tr>
						<td>Primary Listing Exchange</td>
						<td>primary_listing_exchange</td>
					</tr>
					<tr>
						<td>Ticker Code</td>
						<td>ticker_code</td>
					</tr>
					<tr>
						<td>CABRE</td>
						<td>cabre</td>
					</tr>
					<tr>
						<td>Fiscal Year End</td>
						<td>fiscal_year_end</td>
					</tr>
					<tr>
						<td>MIFID Source</td>
						<td>mifid_source</td>
					</tr>
					<tr>
						<td>Balance Sheet Date</td>
						<td>balance_sheet_date</td>
					</tr>
					<tr>
						<td>Balance Sheet Currency</td>
						<td>balance_sheet_currency</td>
					</tr>
					<tr>
						<td>Balance Sheet Total</td>
						<td>balance_sheet_total</td>
					</tr>
					<tr>
						<td>Balance Sheet Turnover</td>
						<td>annual_net_turnover</td>
					</tr>
					<tr>
						<td>Own Funds</td>
						<td>own_funds</td>
					</tr>
					<tr>
						<td>Operational Address Notes</td>
						<td>operational_address_notes</td>
					</tr>
					<tr>
						<td>Registered Agent Name</td>
						<td>registered_agent_name</td>
					</tr>
					<tr>
						<td>Registered PO Box</td>
						<td>registered_po_box</td>
					</tr>
					<tr>
						<td>Registered Floor</td>
						<td>registered_floor</td>
					</tr>
					<tr>
						<td>Registered Building</td>
						<td>registered_building</td>
					</tr>
					<tr>
						<td>Registered Street 1</td>
						<td>registered_street_1</td>
					</tr>
					<tr>
						<td>Registered Street 2</td>
						<td>registered_street_2</td>
					</tr>
					<tr>
						<td>Registered Street 3</td>
						<td>registered_street_3</td>
					</tr>
					<tr>
						<td>Registered City</td>
						<td>registered_city</td>
					</tr>
					<tr>
						<td>Registered State</td>
						<td>registered_state</td>
					</tr>
					<tr>
						<td>Registered Postcode</td>
						<td>registered_postcode</td>
					</tr>
					<tr>
						<td>Registered Address Notes</td>
						<td>registered_address_notes</td>
					</tr>
					<tr>
						<td>NAICS Code</td>
						<td>naics_code</td>
					</tr>
					<tr>
						<td>NAICS Description</td>
						<td>naics_description</td>
					</tr>
					<tr>
						<td>US SIC Code</td>
						<td>us_sic_code</td>
					</tr>
					<tr>
						<td>US SIC Description</td>
						<td>us_sic_description</td>
					</tr>
					<tr>
						<td>NACE Code</td>
						<td>nace_code</td>
					</tr>
					<tr>
						<td>NACE Description</td>
						<td>nace_description</td>
					</tr>
					<tr>
						<td>Entity Type</td>
						<td>entity_type</td>
					</tr>
					<tr>
						<td>Immediate Parent AVID</td>
						<td>immediate_parent_avid</td>
					</tr>
					<tr>
						<td>Immediate Parent Name</td>
						<td>immediate_parent_name</td>
					</tr>
					<tr>
						<td>Immediate Parent Percentage Ownership</td>
						<td>immediate_parent_percentage_ownership</td>
					</tr>
					<tr>
						<td>Immediate Parent Notes</td>
						<td>immediate_parent_notes</td>
					</tr>
					<tr>
						<td>Ultimate Parent AVID</td>
						<td>ultimate_parent_avid</td>
					</tr>
					<tr>
						<td>Ultimate Parent Name</td>
						<td>ultimate_parent_name</td>
					</tr>
					<tr>
						<td>Ultimate Parent Notes</td>
						<td>ultimate_parent_notes</td>
					</tr>
					<tr>
						<td>General Notes</td>
						<td>general_notes</td>
					</tr>
				</tbody>
			</table>
			<h4>Country/state codes</h4>
			<p>For the state and country fields mentioned below, you need to provide the 2 or 3 letter <a href="http://en.wikipedia.org/wiki/ISO_3166">ISO 3166</a> codes for the country/state you want.</p>
			<p>There is a JavaScript helper library at <a href="http://github.com/jayfresh/ISO_3166">http://github.com/jayfresh/ISO_3166</a> which contains the mappings you need.</p>
			<table>
				<thead>
					<tr>
						<th><strong>field</strong></th>
						<th><strong>code to use</strong></th>
						<th><strong>reference</strong></th>
					</tr>
					<tr>
						<td>registered_country</td>
						<td>ISO 3166-1 alpha 3</td>
						<td><a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3">http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3</a></td>
					</tr>
					<tr>
						<td>operational_country</td>
						<td>ISO 3166-1 alpha 3</td>
						<td><a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3">http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3</a></td>
					</tr>
					<tr>
						<td>operational_state</td>
						<td>ISO 3166-2</td>
						<td><a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-3">http://en.wikipedia.org/wiki/ISO_3166-2</a></td>
					</tr>
				</thead>
			</table>
			<h4>Request query format</h4>
			<p>You can specify the fields to filter on in two different ways:</p>
			<h5>key/value pairs</h5>
			<p>This is standard form of creating a search string e.g. to search for all companies with the word "bank" in their name, operating in London, England, you can issue this query:</p>
			<pre><code>http://wiki-data.com/search?
	q=bank&operational_city=London&operational_country=GBR</code></pre>
			<h5>field/value mapping</h5>
			<p>If you find that it is difficult to provide the key/value pair structure as described above, you might find it easier to use an indirect mapping of the fields to the values. For example, you might be presenting seperate inputs for someone to choose a field and provide a value (see the search filters on <a href="http://wiki-data.com/index.html">wiki-data.com</a>).</p>
			<p>To issue the same query as before, using the field/value mappping:</p>
			<pre><code>http://wiki-data.com/search?q=bank&adv_0_field=operational_city&
	adv_0_value=London&adv_1_field=operational_country&adv_1_value=GBR</code></pre>
			<p>For each extra field/value you want to search by, increase the index after <code>adv_</code> by 1.</p>
			<h3>Search response</h3>
			<p>Requesting a search in JSON format returns data in the structure shown below. If you request data in HTML format, it returns the same webpage you would see if you performed the search on wiki-data.com. Searching in text format produces only a list of matching AVID's.</p>
			<p>A JSON search returns data in this structure:</p>
			<pre><code>[
   {
      title: 12345678, // AVID
      fields: {
         legal_name,
         previous_name_s_,
         trades_as_name_s_,
         trading_status,
         company_website,
         registered_country,
         operational_po_box,
         operational_floor,
         operational_building,
         operational_street_1,
         operational_street_2,
         operational_street_3,
         operational_city,
         operational_state,
         operational_country,
         operational_postcode
      },
      // other meta-data fields about the record itself
   },
   ...
]</code></pre>
			<p>The other meta-fields referred to come from the internal structure of the <a href="http://tiddlyweb.peermore.com">TiddlyWeb</a> instance running the system. We don't remove these as they may prove useful in some applications.</p>
			<h3>Requesting individual records</h3>
			<p>Individual company records are stored by AVID, which is an 8-digit identifier. A typical URL for a company record - in this case <a href="http://avox.info">Avox Ltd</a> - is:</p>
			<pre><code>http://wiki-data.com/bags/avox/tiddlers/16835057</code></pre>
			<p>The URL reveals the internal structure of wiki-data as set up by <a href="http://tiddlyweb.peermore.com">TiddlyWeb</a> - a collection of "tiddlers" (data entities) in a "bag" called "avox".</p>
			<p>Records can be requested in different formats using the same mechanisms as for search - either by adding an extension to the URL or by setting an HTTP request Accept header to the appropriate value.</p>
			<p>The formats available are the same as for search: JSON, text and HTML. Setting a JSONP callback for a record is supported in the same way as for search.</p>	
		</div>
	</div>
</div>