<div id="recordsTableContainer">
	<div id="results">
		<p class="small">Showing results 1-10 of 2000 - <span class="filter"><a href="javascript:;">filter results</a>?</span></p>
	</div>
	<div id="recordsTable_wrapper" class="dataTables_wrapper"><table class="draggable forget-ordering" id="recordsTable">
		<thead>
			<tr>
				<th class="sorting_asc" title="The Legal Name is captured as it appears on the electronic company registry or company registration document.   Any punctuation or abbreviations that occur at these sources will be reflected in the Avox Legal Name.">Legal Name</th>
				<th class="sorting" title="ISO standard country names are used.">Country of Incorporation</th>
				<th class="sorting" title="ISO standard country names are used.">Country of Operation</th>
				<th class="sorting" title="ISO state names are used for states in the USA, provinces and territories in Canada and states and territories in Australia, where the population of this field is mandatory if the city field is populated.  Elsewhere state/province/region information is only captured where appropriate and will be stored without abbreviation.">State / Province / Region of Operation</th>
				<th class="sorting" title="Stored in the anglicised form.">City of Operation</th>
				<th class="sorting">Street</th>
				<th class="sorting">Postcode</th>
				<th class="sorting" title="The Avox ID is a unique identifier for a business entity. The entity may be a distinct legal entity. Alternatively it may not have its own distinct legal status but does have a relationship to an entity which does. The AVID is assigned when a record has been created and checked by the Avox Quality Assurance team. It is a numeric value not exceeding 10 digits. AVIDs are not re-used.">AVID</th>
				<th class="sorting" title="Send us a correction if the data is not correct">Challenge</th>
				<th class="sorting" title="Request more details about this record">Request more<br>Info</th>
			</tr>
		</thead>
		<tfoot class="dark">
			<tr>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
			</tr>
		</tfoot>
		<tbody>	
			{% for tiddler in tiddlers %}
			<tr>
				<td><a href='/recipes/default/tiddlers/{{ tiddler.title }}'>{{ tiddler.fields.legal_name }} </a></td>
				<td>{{ tiddler.fields.inc_country_code }}</td>
				
				<td>{{ tiddler.fields.op_country }}</td>
				<td>{{ tiddler.fields.op_state }}</td>
				<td>{{ tiddler.fields.op_city }}</td>
				<td>{{ tiddler.fields.op_address_1 }}, {{ tiddler.fields.op_city }}</td>
				<td>{{ tiddler.fields.op_post_code }}</td>
				<td>{{ tiddler.fields.avid }}</td>
				<td><a href="/recipes/default/tiddlers/{{ tiddler.title }}.challenge">go</a></td>
				<td><a href="/pages/request?avid={{ tiddler.fields.avid }}">go</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table></div>
</div>
<script type="text/javascript" src="/static/js/records.js"></script>