{% from 'labels.html' import labels %}
<div id="recordsTableContainer">
	<div id="results">
		<p class="small">Showing results 1-10 of {{tiddlers|count}} - <span class="filter"><a href="javascript:;">filter results</a>?</span></p>
	</div>
	<div id="recordsTable_wrapper" class="dataTables_wrapper"><table class="draggable forget-ordering" id="recordsTable">
		<thead>
			<tr>
			{% for field, label in labels %}
				<th>{{label}}</th>
			{% endfor %}
				<th>Challenge</th>
				<th>Request More Info</th>
			</tr>
		</thead>
		<tfoot class="dark">
			<tr>
			{% for field, label in labels %}
				<th><a href="javascript:;">hide</a></th>
			{% endfor %}
				<th><a href="javascript:;">hide</a></th>
				<th><a href="javascript:;">hide</a></th>
			</tr>
		</tfoot>
		<tbody>	
		{% for tiddler in tiddlers %}
			<tr>
			{% for field, label in labels %}
				<td>{{tiddler.fields[field]}}</td>
			{% endfor %}
				<td><a href="/recipes/default/tiddlers/{{ tiddler.title }}.challenge">go</a></td>
				<td><a href="/pages/request?avid={{ tiddler.fields.avid }}">go</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table></div>
</div>
<script type="text/javascript" src="/static/js/records.js"></script>