<script type="text/javascript" src="/static/js/tiddly.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/static/js/comments.js"></script>
<script type="text/javascript" src="/static/js/jquery.color.js"></script>
<link id="stylesheet" rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
<script type="text/javascript">
  $(function() {
    $("#comments-container").comments({{tiddler.fields.avid}});
  });
</script>

<div class="company">
   <div class="vcard">
	<h1 class="fn org company-name">{{ tiddler.fields.legal_name }}</h1>
	<h1 class="avid">{{ tiddler.fields.avid }}</h1>

	<span class="inc_number">{{ tiddler.fields.reg_inc_number }}</span>/<span class="inc_country_code">{{ tiddler.fields.inc_country_code }}</span>

	<div class="adr">
		<span class="type">Registered</span>
		<div class="street-address">{{ tiddler.fields.reg_address_1 }}</div>
		<span class="street-address-2"{{ tiddler.fields.reg_address_2 }}</span>
		<span class="street-address-3"{{ tiddler.fields.reg_address_3 }}</span>
		<span class="locality">{{ tiddler.fields.reg_city }}</span>
		<span class="region">{{ tiddler.fields.reg_state }}</span>
		<span class="postal-code">{{ tiddler.fields.reg_post_code }}</span>
		<span class="country-name">{{ tiddler.fields.reg_country }}</span>
	</div>

	<div class="adr">
		<span class="type">Operational</span>
		<div class="street-address">{{ tiddler.fields.op_address_1 }}</div>
		<span class="street-address-2"{{ tiddler.fields.op_address_2 }}</span>
		<span class="street-address-3"{{ tiddler.fields.op_address_3 }}</span>
		<span class="locality">{{ tiddler.fields.op_city }}</span>
		<span class="region">{{ tiddler.fields.op_state }}</span>
		<span class="postal-code">{{ tiddler.fields.op_post_code }}</span>
		<span class="country-name">{{ tiddler.fields.op_country }}</span>
	</div>

    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA11dNcXC-qUdM5BISJawFyhTbbVxH4cdi4A1u1COHI2Jg8QsSIxTM20z_6W3I4_t9dctn0ofoAQcDHQ"
      type="text/javascript"></script>
    <script type="text/javascript">
 
    //<![CDATA[
 
   var geocoder;
   var map;
   var company;
 
   var reg_company = "{{ tiddler.fields.legal_name }},<br/> Registered Address";
   var reg_address = "{{ tiddler.fields.reg_address_1 }}, {{ tiddler.fields.reg_post_code }}";
 
   var op_company = "{{ tiddler.fields.legal_name }},<br/> Operating Address";
   var op_address = "{{ tiddler.fields.op_address_1 }}, {{ tiddler.fields.op_post_code }}";
  
   function load()
   {
      // Create new map object
      map = new GMap2(document.getElementById("map"));
      map.addControl(new GSmallMapControl());
      map.addControl(new GMapTypeControl());
 
      // Create new geocoding object
      geocoder = new GClientGeocoder();
 
      // Retrieve location information, pass it to addToMap()
              company = reg_company;
      geocoder.getLocations(reg_address, addToMap);
             
              // Retrieve location information, pass it to addToMap()
              company = op_company;
      geocoder.getLocations(op_address, addToMap);
   }
 
   function addToMap(response)
   {
      // Retrieve the object
      place = response.Placemark[0];
 
      // Retrieve the latitude and longitude
      point = new GLatLng(place.Point.coordinates[1],
                          place.Point.coordinates[0]);
 
      // Center the map on this point
      map.setCenter(point, 3);
 
      // Create a marker
      marker = new GMarker(point);
 
      // Add the marker to map
      map.addOverlay(marker);
 
      // Add address information to marker
      marker.openInfoWindowHtml(company);
   }
  
    //]]>
	</script>
	<script type="text/javascript">
		// Google maps ..
	$(function() {
		load();
	});
	</script>
	<div id="map" style="width: 350px; height: 300px"></div>

	<span class="agent">{{ tiddler.fields.reg_agent_name }}</span>

	<div class="tel">
		<span class="type">Work</span> {{ tiddler.fields.tel_numnber }}
	</div>
	<div class="tel">
		<span class="type">Fax</span> {{ tiddler.fields.fax_number }}
	</div>
	<div>Email: 
		<span class="email">{{ tiddler.fields.email }}</span>
	</div>
    </div>

    <div id="comments-container"></div>

    <span class="trading">{{ tiddler.fields.trading_status }}</span>

    <span class="modified">Modified By: {{ tiddler.modifier }}</span>
    <div class="alt-buttons">
	<a href="{{ tiddler.fields.avid }}.json">json</a> |
	<a href="{{ tiddler.fields.txt }}.txt">text</a> 
    </div>

</div>
