<script type="text/javascript" src="/static/js/tiddly.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="/static/js/comments.js"></script>
<script type="text/javascript" src="/static/js/jquery.color.js"></script>
<link id="stylesheet" rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8"/>
<!-- JRL: disabling all comments code until the whole thing works -->
<!-- <script type="text/javascript">
  $(function() {
    $("#comments-container").comments({{tiddler.fields.avid}});
  });
</script>-->
<div class="company">
	<div class="vcard">
		<h1 class="fn org company-name">{{ tiddler.fields.legal_name }}</h1>
		{% if tiddler.fields.company_website %}
		<div><a href="http://{{ tiddler.fields.company_website }}">{{ tiddler.fields.company_website }}</a></div>
		{% endif %}
		<div>Trading status: <span class="trading">{{ tiddler.fields.trading_status }}</span></div>
		{% if tiddler.fields['trades_as_name(s)'] %}
		<div>Trades as: <span class="nickname">{{ tiddler.fields['trades_as_name(s)'] }}</span></div>
		{% endif %}
		{% if tiddler.fields['previous_name(s)'] %}
		<div>Previous name(s): {{ tiddler.fields['previous_name(s)'] }}</div>
		{% endif %}
		<h2 class="avid">AVID: {{ tiddler.fields.avid }}</h1>
	
		<!--<span class="inc_number">{{ tiddler.fields.reg_inc_number }}</span>/<span class="inc_country_code">{{ tiddler.fields.inc_country_code }}</span>-->
	
		<div class="adr">
			<h2 class="type">Operational Address</h2>
			{% if tiddler.fields.operational_po_box %}
			<div class="post-office-box">{{ tiddler.fields.operational_po_box }}</div>
			{% endif %}
			{% if tiddler.fields.operational_floor or tiddler.fields.operational_building %}
			<div class="extended-address">{% if tiddler.fields.operational_floor %}{{ tiddler.fields.operational_floor }} {% endif %}{% if tiddler.fields.operational_building %}{{ tiddler.fields.operational_building }}{% endif %}</div>
			{% endif %}
			<div class="street-address">{{ tiddler.fields.operational_street_1 }}{% if tiddler.fields.operational_street_2 %}, {{ tiddler.fields.operational_street_2 }}{% endif %}{% if tiddler.fields.operational_street_3 %}, {{ tiddler.fields.operational_street_3 }}{% endif %}</div>
			<div>
				{% if tiddler.fields.operational_city %}
				<span class="locality">{{ tiddler.fields.operational_city }}</span>
				{% endif %}
				{% if tiddler.fields.operational_state %}
				<span class="region">{{ tiddler.fields.operational_state }}</span>
				{% endif %}
				{% if tiddler.fields.operational_country %}
				<span class="country-name">{{ tiddler.fields.operational_country }}</span>
				{% endif %}
				{% if tiddler.fields.operational_post_code %}
				<span class="postal-code">{{ tiddler.fields.operational_post_code }}</span>
				{% endif %}
			</div>
		</div>
	</div>
	<!--<span class="agent">{{ tiddler.fields.reg_agent_name }}</span>
	
	<div class="tel">
		<span class="type">Work</span> {{ tiddler.fields.tel_numnber }}
	</div>
	<div class="tel">
		<span class="type">Fax</span> {{ tiddler.fields.fax_number }}
	</div>
	<div>Email: 
		<span class="email">{{ tiddler.fields.email }}</span>
	</div>-->
	
	<div id="map" style="width:690px; height:400px"></div>
	<div id="comments-container"></div>
	<div class="alt-buttons small">
	<span class="label">other formats:&nbsp;</span>
	<a href="{{ tiddler.fields.avid }}.json">json</a> |
	<a href="{{ tiddler.fields.avid }}.txt">text</a>
	<!--<a href="{{ tiddler.fields.avid }}.edit">edit</a>-->
	</div>
</div>
<script src="http://maps.google.com/maps?file=api&v=2&key={{ maps_api_key }}"
  type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[
	
	var geocoder;
	var map;
	var company;
	
	var op_company = "{{ tiddler.fields.legal_name }}";
	var op_address = "{{ tiddler.fields.operational_street_1 }}{% if tiddler.fields.operational_street_2 %}, {{ tiddler.fields.operational_street_2 }}{% endif %}{% if tiddler.fields.operational_street_3 %}, {{ tiddler.fields.operational_street_3 }}{% endif %}{% if tiddler.fields.operational_city %}, {{ tiddler.fields.operational_city }}{% endif %}{% if tiddler.fields.operational_state %}, {{ tiddler.fields.operational_state }}{% endif %}{% if tiddler.fields.operational_post_code %}, {{ tiddler.fields.operational_post_code }}{% endif %}";
	function loadGMap()
	{
		// Create new map object
		map = new GMap2(document.getElementById("map"));
		map.addControl(new GSmallMapControl());
		map.addControl(new GMapTypeControl());
		
		// Create new geocoding object
		geocoder = new GClientGeocoder();
		
		// Retrieve location information, pass it to addToMap()
		company = op_company + "<br/>"+ op_address;
		geocoder.getLocations(op_address, addToMap);
	
	}
	
	function addToMap(response)
	{
		// Retrieve the object
		place = response.Placemark[0];
		
		// Retrieve the latitude and longitude
		point = new GLatLng(place.Point.coordinates[1],
		                  place.Point.coordinates[0]);
		
		// Center the map on this point
		map.setCenter(point, 3);
		map.setZoom(14);
		
		// Create a marker
		marker = new GMarker(point);
		
		// Add the marker to map
		map.addOverlay(marker);
		
		// Add address information to marker
		marker.openInfoWindowHtml(company);
	}
//]]>
</script>
<script type="text/javascript">
	// Google maps ..
	$(document).ready(function() {
		loadGMap();
	});
</script>