
<div class="info">Edit company information:</div>

<div class="textArea">
	<form name='editForm' action='/submit'>
		<table>
			<tr><td align="right"><b>Avid</b></td><td id="avid">{{ tiddler.fields.avid }}</td><td align="right"><b>Extended Information</b></td><td></td></tr>
			<tr><td align="right">Legal Name</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td><td align="right">NAICS code</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right">Website</td><td><input style="width:320px" name="website" value="{{ tiddler.fields.website }}"/></td><td align="right">NAICS description</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right">Country of Incorporation</td><td><input style="width:320px" name="inc_country_code" value="{{ tiddler.fields.inc_country_code }}"/></td><td align="right">SIC Code</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>

			<tr><td align="right">Trading Status</td><td><input style="width:320px" value="{{ tiddler.fields.trading_status }}"/></td><td align="right">SIC Description</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right"><b>Operational Address</b></td><td/><td align="right">Entity Type</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right">Address 1</td><td><input style="width:320px" name="op_address_1" value="{{ tiddler.fields.op_address_1 }}"/></td><td align="right">Immediate Parent</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right">Address 2</td><td><input style="width:320px" name="op_address_2" value="{{ tiddler.fields.op_address_2 }}"/></td><td align="right">Ultimate Parent</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>
			<tr><td align="right">Address 3</td><td><input style="width:320px" name="op_address_3" value="{{ tiddler.fields.op_address_3 }}"/></td><td align="right">SWIFT BIC</td><td><input style="width:320px" name="legal_name" value="{{ tiddler.fields.legal_name }}"/></td></tr>

			<tr><td align="right">PO Box</td><td colspan="3"><input style="width:320px" name="op_pobox" value="{{ tiddler.fields.op_pobox }}"/></td></tr>
			<tr><td align="right">Floor</td><td colspan="3"><input style="width:320px" name="op_floor" value="{{ tiddler.fields.op_floor }}"/></td><td align="right"></td></tr>
			<tr><td align="right">Building</td colspan="3"><td><input style="width:320px" name="op_building" value="{{ tiddler.fields.op_building }}"/></td></tr>
			<tr><td align="right">City</td><td colspan="3"><input style="width:320px" name="op_city" value="{{ tiddler.fields.op_city }}"/></td></tr>
			<tr><td align="right">State/Province/Region</td><td colspan="3"><input style="width:320px" name="op_state" value="{{ tiddler.fields.op_state }}"/></td></tr>
			<tr><td align="right">Postcode</td><td colspan="3"><input style="width:320px" name="op_post_code" value="{{ tiddler.fields.op_post_code }}"/></td></tr>

			<tr><td align="right">Country</td><td colspan="3"><input style="width:320px" name="op_country" value="{{ tiddler.fields.op_country }}"/></td></tr>
			<tr><td align="right"><b>Registration</b></td><td colspan="3"/></tr>
			<tr><td align="right">Registration Number</td><td colspan="3"><input style="width:320px" name="reg_inc_number" value="{{ tiddler.fields.reg_inc_number }}"/></td></tr>
			<tr><td align="right">Address 1</td><td colspan="3"><input style="width:320px" name="reg_address_1" value="{{ tiddler.fields.reg_address_1 }}"/></td></tr>
			<tr><td align="right">Address 2</td><td colspan="3"><input style="width:320px" name="reg_address_2" value="{{ tiddler.fields.reg_address_2 }}"/></td></tr>
			<tr><td align="right">Address 3</td><td colspan="3"><input style="width:320px" name="reg_address_3" value="{{ tiddler.fields.reg_address_3 }}"/></td></tr>

			<tr><td align="right">PO Box</td><td colspan="3"><input style="width:320px" name="reg_pobox" value="{{ tiddler.fields.reg_pobox }}"/></td></tr>
			<tr><td align="right">Floor</td><td colspan="3"><input style="width:320px" name="reg_floor" value="{{ tiddler.fields.reg_floor }}"/></td></tr>
			<tr><td align="right">Building</td><td colspan="3"><input style="width:320px" name="reg_building" value="{{ tiddler.fields.reg_building }}"/></td></tr>
			<tr><td align="right">City</td><td colspan="3"><input style="width:320px" name="reg_city" value="{{ tiddler.fields.reg_city }}"/></td></tr>
			<tr><td align="right">State/Province/Region</td><td colspan="3"><input style="width:320px" name="reg_state" value="{{ tiddler.fields.reg_state }}"/></td></tr>
			<tr><td align="right">Postcode</td><td colspan="3"><input style="width:320px" name="reg_post_code" value="{{ tiddler.fields.reg_post_code }}"/></td></tr>

			<tr><td align="right">Country</td><td colspan="3"><input style="width:320px" name="reg_country" value="{{ tiddler.fields.reg_country }}"/></td></tr>
		</table>
		<br/>
		<input type="submit" value="Save Changes"/>
		<input type='hidden' name='avid' value='{{ tiddler.title }}'/>
	</form>
</div>

<div class="footer">
	<div id="links">
		<ul>
			<li><a href="copyright.shtml">&copy; Avox</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
			<li><a href="imprint.shtml">Imprint</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
			<li><a href="disclaimer.shtml">Disclaimer</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
			<li><a href="privacy.shtml">Privacy Policy</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
			<li id="last"><a href="trademarks.shtml">Trademarks</a></li>
		</ul>
	</div>
	<div id="topOfPage"><a href="#top">Top of page</a> <a href="#top"><img border="0" src="images/topOfPage.gif" width="11" height="11" align="middle" style="padding: 0 0 2px 0;" /></a></div>
</div>

</body>

</html>
