<div id="footer">
<div id="links">
	<ul>
		<li><a href="copyright.shtml">&copy; Avox</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
		<li><a href="imprint.shtml">Imprint</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
		<li><a href="disclaimer.shtml">Disclaimer</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
		<li><a href="privacy.shtml">Privacy Policy</a><img border="0" src="images/list_separator-pipe.gif" width="1" height="10" style="position: relative; top: 2px; padding-left: 10px;" /></li>
		<li id="last"><a href="trademarks.shtml">Trademarks</a></li>
	</ul>
</div>
<div id="topOfPage"><a href="#top">Top of page</a> <a href="#top"><img border="0" src="images/topOfPage.gif" width="11" height="11" align="middle" style="padding: 0 0 2px 0;" /></a></div>
</div>
</body>
</html>	