	</div>
	<div id="footer">
		<div>
			<ul>
				<li>
					<a href="/pages/suggest_new">Suggest a new record</a>
				</li>
				<li>|</li>
				<li>
					<a href="/pages/terms_of_use">Terms of Use</a>
				</li>
				<li>|</li>
				<li>
					<a href="http://www.avox.info/pdfs/wikidata_sample_record.pdf">Sample record</a>
				</li>
				<li>|</li>
				<li>
					<a href="http://www.avox.info/pdfs/wikidata_field_specs.pdf">Field Specifications</a>
				</li>
				<li>|</li>
				<li>
					<a href="/pages/about">About wiki-data</a>
				</li>
				<li>|</li>
				<li>
					<a href="/pages/partners">Partners</a>
				</li>
				<li>|</li>
				<li>
					sponsored by <a href="http://avox.info">Avox</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/agg.js"></script>
</body>
</html>	