		</div> <!-- contentbg -->
		</div> <!-- main -->
		</div> <!-- footwrap -->
		<div id="footer" class="wrap clear caps small">
			<ul class="left">
				<li>&copy;&nbsp;Avox All Rights Reserved</li>
			</ul>
			<ul class="right">
				<li>Found a bug? Please <a href="mailto:support@wiki-data.com">email us</a></li>
				<li><a href="/pages/api.html">API</a></li>
				<li><a href="/pages/terms_of_use">Terms of use</a></li>
				<li><a href="/pages/partners">Partners</a></li>
				<li><a href="http://wikidata.uservoice.com">New ideas</a></li>
			</ul>
		</div>
		<script type="text/javascript" src="/lib/fields.js"></script>
		<script type="text/javascript" src="/static/js/agg.js"></script>
	</body>
</html>
