{% set usersign = commonVars.usersign -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/common.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/suggest.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/static_pages.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/searchresult.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/columnPages.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/comprec.css" />
		<link rel="stylesheet" type="text/css" href="/static/test_css/sticky_footer.css" />
		<!--[if lte IE 7]>
		<link rel="stylesheet" type="text/css" href="/static/test_css/ie6or7common.css" />
		<![endif]-->
		<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="/static/css/test_ie6common.css" />
		<![endif]-->
		<title>wiki-data.com, sponsored by Avox</title>
		<script type="text/javascript">
			document.documentElement.className = 'js';
		</script>
	</head>
	
	<body>
	
		<div id="footwrap">
		<div id="main" class="clearfix">
		{%- if usersign.name != "GUEST" -%}
		<div id="backstage" class="loggedIn">
			You are logged in as {{usersign.name}} | <a href="/logout">Logout</a>
		{%- else -%}
		<div id="backstage">
				<a href="/challenge/login_form">Login</a>
		{% endif -%}
		</div>
		<div id="header">
			<div class="wrap clear">
				<a class="grid1col left" href="/index.html">
					<h1 class="imagereplace">wiki-data Beta - sponsored by Avox</h1>
				</a>
				<div id="navheader">
					<a href="/pages/suggest_new.html" class="grid1col left">
						<h2 id="suggestlogo" class="imagereplace">Suggest a New Record</h2>
						<p class="small">Please add a company record to wiki-data!</p>
					</a>
					<a class="grid1col left" href="/index.html">
						<h2 id="searchlogo" class="imagereplace">Search for a Record</h2>
						<p class="small">If you would like to search for a company record, click here</p>
					</a>
					<!--<a href="/pages/api.html" class="grid1col left">
						<h2 id="devlogo" class="imagereplace">For the Developer</h2>
						<p class="small">Developer? Here's our API documentation</p>
					</a>-->
					<a href="/pages/about.html" class="grid1col left">
						<h2 id="aboutlogo" class="imagereplace">About wiki-data</h2>
						<p class="small">All questions relating to what exactly wiki-data is and what it does</p>
					</a>
				</div>
				<div id="counter" class="small">
					<span class="lightborder darkgreen norightborder">Currently Searching Through</span>
					<span id="fruitmachine" class="lightborder darkgreen">
						<img src="/static/test_images/count2.png" alt="2" />
						<img src="/static/test_images/count3.png" alt="3" />
						<img src="/static/test_images/count7.png" alt="7" />
						<img src="/static/test_images/count1.png" alt="1" />
						<img src="/static/test_images/count9.png" alt="9" />
						<img src="/static/test_images/count4.png" alt="4" />
					</span>
					<span class="lightborder darkgreen noleftborder">Avox Records</span>
				</div>
			</div>
		</div>
		<div class="contentbg">