<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
	<link rel="stylesheet" href="/static/css/styles.css" />
	<title>Avox Wiki Data</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<div class="header">
		<a href="http://www.deutsche-boerse.com">
			<img src="http://www.avox.info/images/DB_home.gif" border="0" width="203" height="15" alt="Deutsche B&ouml;erse Group Homepage" />
		</a>
		<img src="http://www.avox.info/images/logo.gif" border="0" width="192" height="64" alt="Avox"/>
	</div>
	<div id="main">
