<div class="intro">
	<p>Please enter some search criteria to view matching data records. <strong>You are searching 10,000 Avox records.</strong></p>
	<div class="notice">
		<h2>Please note</h2>
		<p>Things are running very slow at the moment - it would be best to try these example searches, which tend to run quite quickly</p>
		<ul>
			<li><a href="/search?q=Limited&avid=&adv_1_field=Operational+City&adv_1_value=Newbury&adv_2_field=Operational+Country&adv_2_value=GBR">q=Limited "Operational City"=Newbury "Operational Country"=GBR</a></li>
			<li><a href="/search?q=limited&avid=&adv_1_field=Operational+City&adv_1_value=Swansea&adv_2_field=Operational+Country&adv_2_value=GBR">q=Limited "Operational City"=Swansea "Operational Country"=GBR</a></li>
			<li><a href="/search?q=&avid=&adv_1_field=Operational+Building&adv_1_value=Imex+House">"Operational Building"="Imex House"</a></li>
		</ul>
		<p>In general, try to be as specific as possible, avoiding large sets such as "Operational City"=London; avoid only using the company name</p>
	</div>
</div>