<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Welcome to wiki-data</h2>
			<span>&nbsp;an open, <a href="/pages/api">extensible</a>, linkable, repository of company information.</span>
		</div>
	</div>
	<div class="wrap" id="notice">
		<div class="miniwrap bluebox lightblueborder">
			<h2>Some example searches</h2>
			<p>To get you into the swing of things, why not try one of these?</p>
			<ul>
				<li><a href="/search?q=bank&avid=&adv_1_field=Operational+City&adv_1_value=London&adv_2_field=Operational+Country&adv_2_value=GBR">Any "bank" in London</a></li>
				<li><a href="/search?q=energy&avid=&adv_1_field=Operational+Country&adv_1_value=USA&adv_2_field=Operational+State&adv_2_value=TX">Any "energy" company operating in Texas</a></li>
				<li><a href="/search?q=Commodities&avid=&adv_1_field=Operational+Country&adv_1_value=SGP">Any "commodities" company operating in Singapore</a></li>
			</ul>
		</div>
	</div>
</div>