<div class="intro">
	<p>Please enter some search criteria to view matching data records. <strong>You are searching 227,217 Avox records.</strong></p>
	<div class="notice">
		<h2>Some example searches</h2>
		<p>To get you into the swing of things, why not try one of these?</p>
		<ul>
			<li><a href="/search?q=Limited&avid=&adv_1_field=Operational+City&adv_1_value=Newbury&adv_2_field=Operational+Country&adv_2_value=GBR">q=Limited "Operational City"=Newbury "Operational Country"=GBR</a></li>
			<li><a href="/search?q=limited&avid=&adv_1_field=Operational+City&adv_1_value=Swansea&adv_2_field=Operational+Country&adv_2_value=GBR">q=Limited "Operational City"=Swansea "Operational Country"=GBR</a></li>
			<li><a href="/search?q=&avid=&adv_1_field=Operational+Building&adv_1_value=Imex+House">"Operational Building"="Imex House"</a></li>
		</ul>
	</div>
</div>