<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Partners</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
		<p>Wiki-data has been conceived and developed as a data platform for everyone. As such, having partners leverage the data as part of their respective offerings is important. We've broken down partnerships into different types based on the nature of the partner's business.</p>
		<h3>Data Partners</h3>
		<p>Avox currently works with a variety of firms that sell content as part of their business. These companies include SWIFT, Markit, Interactive Data Corporation and S&P. Data partnerships enable Avox to extend its reach into a much larger user base without having to establish direct connections with each user. Each new user becomes part of the Avox data quality network which enhances the content timeliness and quality for all users. Our partners are able to take advantage of a centrally managed pool of the highest quality business entity data and build additional value on top of it in the form of identification systems, enriched content, analytics and services.</p>
		<p>Participants in any of the Avox Partner Program are required to notify Avox whenever a data value is suspect or conflicts with other information. Supporting information should be provided to Avox supporting all such issues where permissible.</p>
		<p>We categorize data partners as follows.</p>
		<ul>
			<li><h3>Data Reseller</h3>
			<p>Data reselling partners take content verified and maintained by Avox and sell it in whole or in part in a machine readable or printed directory format. Avox content directly forms a portion of the value provided by the reseller. As such, commercial arrangements take into account parameters such as number of users, type of data fields distributed and geographical territory targeted.</p>
			<p>Avox can tailor the file format and data content for a reseller's requirements. Contractual arrangements can be established such that the reseller contract with the user includes provision of Avox content or both Avox and the reseller establish contracts with the end user together.</p></li>
			<li><h3>Value Enhancing (no direct reselling)</h3>
			<p>The content hosted on wiki-data.com is intentionally basic. It forms the kernel of information required to uniquely identify a business entity. As such, it can be used as the foundation upon which to offer a wide range of value added services and analytics.</p>
			<p>For many vendors, the business entity information is required for their offering but is not a key part of their value proposition. They often make information available about a company as a compilation on a web page or report. Examples include market data vendors that post information about financial information associated with specific issuers or providers of detailed company financial analysis where the information is provided on a per company basis.</p>
			<p>For these vendors that don't make compiled lists of business entities available to their customers it is possible for Avox to provide more flexible commercial terms with less onerous volume dependencies.</p></li>
		</ul>
		<h3>Software partners</h3>
		<p>Reliable business entity information is invaluable both as a fundamental requirement in many software applications and as a foundation for new application possibilities. Avox will provide access, test files, documentation and support for developers interested in creating applications and mashups with wiki-data information. For product development and demonstration, access will generally be free or low-cost; for commercial products, commercial terms will be available. Individually negotiated arrangements are possible.</p>
		<h3>Consulting partners</h3>
		<p>Invalid data is often the result of poor process, governance and/or technology. Avox clients benefit from improvements we are able to help them make to their content but also from the clues the errors and omissions provide about the cause of their existence. As such, there is a major opportunity for expert consulting firms to help firms improve their operations to reduce the rate of creation of bad data.</p>
		<p>Avox consulting partners typically engage directly with the client however we are able to provide support in terms of access to sample data and training in our data verification policies and procedures.</p>
		<p>For all partnership enquries, please email us at <a href="mailto:partnerenquiry@wiki-data.com">partnerenquiry@wiki-data.com</a>.</p>
	</div>
</div>