<div id="pagenav">
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="lightborder darkgreen caps onlyjs" id="backnav">Back</a></li>
	</ul>
</div>

<div id="content-request">
	{% if captcha.success %}
	<div class="wrap">
		<p>Thanks! We'll be in touch shortly.</p>
	</div>
	{% else %}
	<div id="leftbit" class="padded notIE"></div>
	<div class="wrap relative z1">
		<form method="post" action="/verify" id="request">
			<div class="right rightpanelhead">
				<h2>information</h2>
				<div class="stripe">
					<p>We'd like to know who you are!</p>
				</div>
				<div class="right lightbluebox lightblueborder" id="rightpanel" style="visibility: visible;">
					<label for="name">Your name</label>
					<input type="text" name="name" id="name" size="35"/>
					<label for="email">Your email address</label>
					<input type="text" name="email" id="name" size="35"/>
					<label for="country" class="advSearchLineField">Your country</label>
					<input type="text" name="country" id="country" size="35" />
					<label for="company">Your company <span>(Optional)</span></label>
					<input type="text" name="company" size="35"/>
					<input type="hidden" value="request" name="requestType"/>
					<input type="hidden" name="avid" value="{{tiddler.title}}" />
					<input type="hidden" name="legal_name" value="{{tiddler.fields.legal_name}}" />
					<div>Are you human?</div>
					<script src="http://api.recaptcha.net/challenge?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" type="text/javascript"/></script>
					<noscript>
						<iframe src="http://api.recaptcha.net/noscript?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" height="300" width="500" frameborder="0"></iframe><br />
						<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
						<input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
					</noscript>
					{% if captcha.failure %}
					<div class="captcha_error">
						<p>Whoops! I think you made a mistake with the CAPTCHA. Please try again.</p>
					</div>
					{% endif %}
				</div>
				<input id='submit' class="darkgreen lightborder whitetext caps margintop" type="submit" value="Submit request"/>
			</div>
			<div class="left leftpanelhead">		
				<h2>Request More Information</h2>
				<div class="stripe noleftborder">
					<p>These are the extra data fields you are requesting</p>
				</div>
				<div class="left lightbluebox lightblueborder" id="leftpanel">
					<p class="entity-name">{{tiddler.fields.legal_name}} (AVID <a href="/bags/avox/tiddlers/{{tiddler.title}}">{{tiddler.title}}</a>)</p>
					<h3>Registered Address</h3>
					<table>
						<tbody>
							<tr>
								<td><span>Registered Agent Name</span></td>
								<td><span>Registered Post Box</span></td>
							</tr>
							<tr>
								<td><span>Registered Floor</span></td>
								<td><span>Registered Building</span></td>
							</tr>
							<tr>
								<td><span>Registered Street 1</span></td>
								<td><span>Registered Street 2</span></td>
							</tr>
							<tr>
								<td><span>Registered Street </span></td>
								<td><span>Registered City</span></td>
							</tr>
							<tr>
								<td><span>Registered State</span></td>
								<td><span>Registered Postcode</span></td>
							</tr>
						</tbody>
					</table>
					<h3>Entity Information</h3>
					<table>
						<tbody>
							<tr>
								<td><span>Date of Incorporation</span></td>
								<td><span>Date of Dissolution</span></td>
							</tr>
							<tr>
								<td><span>Issuer Flag</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<h3>Identifiers</h3>
					<table>
						<tbody>
							<tr>
								<td><span>Registration Number</span></td>
								<td><span>Primary Listing Exchange</span></td>
							</tr>
							<tr>
								<td><span>Primary Ticker Code</span></td>
								<td><span>SWIFT BIC</span></td>
							</tr>
							<tr>
								<td><span>Registered Agent Name</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<h3>Industrial Classifications</h3>
					<table>
						<tbody>
							<tr>
								<td><span>US SIC Code & Description</span></td>
								<td><span>NAICS Code & Description</span></td>
							</tr>
						</tbody>
					</table>
					<h3>Hierarchy Information</h3>
					<table>
						<tbody>
							<tr>
								<td><span>Entity Type</span></td>
								<td><span>Immediate Parent</span></td>
							</tr>
							<tr>
								<td><span>Immediate Parent AVID</span></td>
								<td><span>Ultimate Parent</span></td>
							</tr>
							<tr>
								<td><span>Ultimate Parent AVID</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<br class="clearboth" />
	{% endif %}
</div>