<div id="search">
	<form action="/search" method="GET">
		<div>
			<label for="q">Company Name</label><input id="company_search_box" name="q" size="35" type="text" />
			<label for="avid">or AVID</label><input id="avid_search_box" name="avid" size="10" type="text" />
			<input value="Search" type="submit" />
			<a href="javascript:;" class="advanced small"><!-- <img src="/static/images/plus_small.gif" />--><button onclick="return false;">+</button>&nbsp;add a filter</a>
		</div>
		<div id="advancedSearchContainer">
			<div id="advancedSearchLines"></div>
			<div class="label small">type to filter the results below, hit enter to search with these filters</div>
		</div>
	</form>
</div>
