<div id="search">
	<form action="/recipes/default/tiddlers.html" method="GET">
		<div>
			<input class="interior_text" name="q" size="65" type="text" value="Company Name Search" />
			<input value="Search" type="submit" />
			<a href="javascript:;" class="advanced small"><img src="images/plus_small.gif" />search by field</a>
		</div>
		<div id="advancedSearch">
			<div class="advSearchLine">
				<select>
					<option>Choose field...</option>
					<option>Legal name</option>
					<option>Country of incorporation</option>
					<option>Operating address</option>
				</select>
				<input name="adv_1" size="35" type="text" />
				<a href="javascript:;" class="advanced"><img src="images/plus.gif" /></a>
			</div>
		</div>
	</form>
</div>
