<div class="wrap">
	<form id="search" action="/search" method="GET">
		<label for="company_search_box">Company Name</label>
		<input type="text" name="q" id="company_search_box" />
		<span>OR</span>
		<label for="avid_search_box">AVID</label>
		<input type="text" name="avid" id="avid_search_box" />
		<input type="submit" class="darkgreen lightborder whitetext caps" value="Search" />
		<span class="onlyjs">
			<input type="button" class="darkgreen lightborder whitetext caps advanced" value="+" onclick="return false;" />
			<a href="#" class="advanced">add filter?</a>
		</span>
		<div id="advancedSearchContainer">
			<div id="advancedSearchLines"></div>
		</div>
	</form>
</div>
