{% set labels = [
	('operational_po_box', 'Operational PO Box'),
	('operational_floor', 'Operational Floor'),
	('operational_building', 'Operational Building'),
	('operational_street_1', 'Operational Street 1'),
	('operational_street_2', 'Operational Street 2'),
	('operational_street_3', 'Operational Street 3'),
	('operational_city', 'Operational City'),
	('operational_postcode', 'Operational Postcode'),
	('immediate_parent_avid', 'Immediate Parent AVID'),
	('immediate_parent_name', 'Immediate Parent Name'),
	('ultimate_parent_avid', 'Ultimate Parent AVID'),
	('ultimate_parent_name', 'Ultimate Parent Name'),
	('entity_type', 'Entity Type'),
	('registered_po_box', 'Registered PO Box'),
	('registered_floor', 'Registered Floor'),
	('registered_building', 'Registered Building'),
	('registered_street_1', 'Registered Street 1'),
	('registered_street_2', 'Registered Street 2'),
	('registered_street_3', 'Registered Street 3'),
	('registered_city', 'Registered City'),
	('regstered_state', 'Registered State'),
	('registered_country', 'Registered Country'),
	('registered_postcode', 'Registered Postcode'),
	('registration_number__jurisdiction_', 'Registration Number (Jurisdiction)')
	('cabre','CABRE')
] %}
{% from 'countries.html' import countries %}
{% if captcha.success %}
<div>
<p>Thanks! We'll be in touch shortly.</p>
</div>
{% else %}
<form id="suggest_new" action="/verify" method="post">
	<div class="left">
		<p>Please fill in all the first section and as much as you can from the second section</p>
		<h2>Mandatory fields</h2>
		<table class="fields">
			<tr>
				<td>Legal Name</td>
				<td><input type="text" size="35" name="legal_name" /></td>
			</tr>
			<tr>
				<td>Operational Country</td>
				<td><select name="operational_country">
					{% for country in countries %}
					<option value="{{country}}">{{country}}</option>
					{% endfor %}
					</select></td>
			</tr>
			<tr>
				<td>Operational State</td>
				<td><input type="text" size="35" name="operational_state" /></td>
			</tr>
		</table>
		<h2>Additional fields</h2>
		<table class="fields">
			{% for field, label in labels %}
			<tr>
				{% if field == 'entity_type' %}
				<td>{{label}}</td>
				<td><select name="{{field}}">
					<option value="Null">Null</option>
					<option value="Branch">Branch</option>
					<option value="Division">Division</option>
					<option value="Subsidiary">Subsidiary</option>
					<option value="Ultimate Parent">Ultimate Parent</option>
				</select></td>
				{% elif field == 'registered_country' %}
				<td>Registered Country</td>
				<td><select name="registered_country">
					{% for country in countries %}
					<option value="{{country}}">{{country}}</option>
					{% endfor %}
					</select></td>
				{% else %}
				<td>{{label}}</td>
				<td><input type="text" size="35" name="{{field}}" /></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="right">
		<h2>Your information</h2>
		<h3>(we'd like to know who you are)</h3>
		<label for="name">Your name</label>
		<input type="text" size="35" name="name" />
		<label for="email">Your email address</label>
		<input type="text" size="35" name="email" />
		<label for="country">Your country</label>
		<select name="country">
			{% for country in countries %}
			<option value="{{country}}">{{country}}</option>
			{% endfor %}
		</select>
		<label for="country">(Optional) Your company</label>
		<input type="text" size="35" name="company" />
		<input type="hidden" name="requestType" value="suggest_new" />
		<div>Are you human?</div>
		<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29"></script>
		<noscript>
			<iframe src="http://api.recaptcha.net/noscript?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" height="300" width="500" frameborder="0"></iframe><br />
			<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
			<input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
		</noscript>
		{% if captcha.failure %}
		<div class="captcha_error">
			<p>Whoops! I think you made a mistake with the CAPTCHA. Please try again.</p>
		</div>
		{% endif %}
		<input type="submit" value="Submit suggestion" />
	</div>
</form>
{% endif %}