<h1>Wiki-Data Terms of Use</h1>
<div id="terms_of_use">
	<p>
	Please read this carefully. The following Wiki-Data Terms of Use are the terms and conditions on which you may use the wiki-data.com website and the content available on it. These terms apply to your use of wiki-data.com. By accessing wiki-data.com you are agreeing to the Wiki-Data Terms of Use below. 
	</p>
	<p>
	If you do not agree with the Wiki-Data Terms of Use (or are not authorised to do so) you should not use wiki-data.com. If you have any questions please log an issue at <a href="http://www.avox.info/emailform.php">http://www.avox.info/emailform.php</a>. We recommend that you print, store or save a copy of these Wiki-Data Terms of Use for your records.
	</p>

	<hr>
	<ol>
		<li><a href="#1">Access and Use</a></li>
		<li><a href="#2">Privacy Policy</a></li>
		<li><a href="#3">User Content</a></li>
		<li><a href="#4">Warranties and Limitation of Liability</a></li>
		<li><a href="#5">Third Party Sites and Services</a></li>

		<li><a href="#6">Choice of Law and Jurisdiction</a></li>
		<li><a href="#7">General</a></li>
		<li><a href="#8">Changes to Terms and Conditions</a></li>
	</ol>
	<hr>
	<p>
	These Wiki-Data Terms of Use were last updated on 29 May 2009 and replace all previous Wiki-Data Terms of Use for wiki-data.com. Avox Limited may change, alter, suspend or withdraw any part of wiki-data.com at any time (with or without notice to you) and may also change the Wiki-Data Terms of Use. Avox Limited will publish details of any changes to the Wiki-Data Terms of Use in Section 8 below. You should regularly check Section 8 of these Wiki-Data Terms of Use to see if any changes have been made - by using wiki-data.com after we have posted the changes, you are agreeing to be bound by them. If you do not agree to the changes you should cease using wiki-data.com. References in these Wiki-Data Terms of Use to "Avox Limited" (or "we", "us" or "our") refer to the company operating wiki-data.com, see the Imprint below for more details. 
	</p>

	<ol>
		<li><a name="1"></a><strong>Access and Use</strong>
	<ol class="sub_list">
		<li>Access<br /><br />
			wiki-data.com is accessible to all.<br /><br /></li>

		<li>Permitted Use <br /><br />

			The business entity information including the AVOX ID ("AVID") displayed on wiki-data.com (hereinafter referred to as "the Wiki-Data") belongs to Avox Limited. Avox Limited owns all intellectual property rights (including copyright and database rights) in the Wiki-Data and any selection or arrangement of the Wiki-Data. You may for your commercial and non-commercial use:
			<ul>
				<li>retrieve and display the Wiki-Data on any compatible device; 
				<li>print copies of any part of the Wiki-Data;  
				<li>store, process and use the Wiki-Data for commercial and non-commercial purposes, provided that you do not infringe the Restrictions on Use below.
			</ul><br /></li>
		<li>Restrictions on Use<br /><br /> 
			You may not use wiki-data.com for any unlawful purpose. Without limitation, you may not do any of the following actions without prior written permission from Avox Limited (and neither may you allow a third party to do any of the same):
			<ul>
				<li>resell the Wiki-Data in whole or in part; or 
				<li>create a database in electronic or structured manual form by systematically and/or regularly downloading, caching, printing and storing all or any of the Wiki-Data (by spidering or otherwise).
			</ul>

			Complete or partial file downloads of this content can be acquired from Avox directly. Selections of the data complete with identification schemes and supplemental information can be procured from Avox partners.
		<br /><br /></li>
		<li>Linking<br /><br /> 
			If you would like to link to wiki-data.com, please read and comply with the following guidelines and all applicable laws. A site or service that links to wiki-data.com:
			<ul>
				<li>may display an Avox logo but must not otherwise use any Avox Limited or Deutsche B&ouml;rse Group trade marks without permission from Avox Limited; 
				<li>may not remove, distort or otherwise alter the size or appearance of the Avox logo; 
				<li>may link to the homepage of wiki-data.com, and on an ad hoc, non-systematic basis deeplink to other pages of wiki-data.com; 
				<li>must not in any way imply that Avox Limited is endorsing it or its products or services; 
				<li>must not misrepresent its relationship with Avox Limited or present false information about Avox Limited; 
				<li>must not be a site or service that contains content that could be construed as distasteful or offensive.
			</ul>	
			Avox Limited expressly reserves the right to require that any link in breach of these wiki-data.com Terms of Use be removed and to take whatever other action it deems appropriate.
		<br /><br /></li>

		<li>PLEASE NOTE THAT IN ADDITION AND WITHOUT PREJUDICE TO OUR RIGHTS AT LAW TO RESTRICT THE TYPES OF USE REFERRED TO ABOVE, THESE RESTRICTIONS ARE ALSO CONTRACTUAL IN NATURE AND BIND ALL USERS OF WIKI-DATA.COM.</li>
		</ol>
		<br /><br /></li>

		<li><a name="2"></a><strong>Privacy Policy</strong> <br /><br />
			All information received by you from your use of wiki-data.com will be used by Avox Limited in accordance with our <a href="http://www.avox.info/privacy.shtml">Privacy Policy</a>.<br /><br /></li>

		<li><a name="3"></a><strong>User Content</strong><br /><br />
			The philosophy behind wiki-data.com is that of collaboration. The Wiki-Data is made available to the global community to use for free with the expectation that the community will contribute its intelligence to help improve the quality, timeliness and completeness of the Wiki-Data. In return for your free access and usage of this business entity data, we ask that you inform Avox Limited of any elements that you believe are incorrect, incomplete or for which you believe there should be a data value where none exists. You may do this on <a href="http://www.wiki-data.com">www.wiki-data.com</a> by clicking the "Correction" button next to the offending data record. By working together as a global community, the Wiki-Data will improve and be consistently applied by everyone.
			<br /><br />
			wiki-data.com is associated with discussion forums including one on <a href="http://www.linkedin.com">www.linkedin.com</a> called the "Avox Business Entity Discussion Forum" as well as a blog at <a href="http://avoxinfo.blogspot.com/">http://avoxinfo.blogspot.com/</a> where anyone can openly comment, criticize and/or make suggestions for improvements to the platform wiki-data.com and its content ("Forums"). While Avox Limited does not control the information/materials posted to Forums by users (the "User Content"), it reserves the right (which it may exercise at its sole discretion without notice) to delete, move or edit the User Content.
			<br /><br />

			You must comply with any rules posted by Avox Limited on a Forum. You may not:
			<ul>
				<li>post, link to or otherwise publish any User Content containing any form of advertising or promotion for goods and services or any chain Messages or "spam"; 
				<li>post, link to or otherwise publish any User Content with recommendations to buy or refrain from buying a particular security or which contain confidential information of another party or which otherwise have the purpose of affecting the price or value of any security; 
				<li>post, link to or otherwise publish any User Content that are unlawful, threatening, abusive, libelous, indecent, infringe copyright or other rights of third parties or which contain any other form of illegal content; 
				<li>disguise the origin of any User Content; 
				<li>impersonate any person or entity (including Avox Limited employees or Forum guests or hosts) or misrepresent any affiliation with any person or entity; 
				<li>post or otherwise publish any User Content unrelated to the Forum or the Forum's topic; 
				<li>post or transmit any User Content that contain software viruses, files or code designed to interrupt, destroy or limit the functionality of wiki-data.com or any computer software or equipment; 
				<li>collect or store other users' personal data; 
				<li>restrict or inhibit any other user from using the Forums.
			</ul><br />
			You are solely responsible for the content of your User Content. You warrant and represent that you own or otherwise have all of the necessary rights to the User Content that you post on any Avox Limited Forum and that you have used best endeavours to ensure that the content is accurate and in compliance with these Terms and Conditions.
			<br /><br />

			The Forums contain User Content submitted by users over whom Avox Limited has no control. Avox Limited cannot guarantee the accuracy, integrity or quality of any User Content. 
			<br /><br />
			By submitting User Content to any Forums you are granting Avox Limited and its affiliates and related entities a worldwide perpetual, royalty-free, irrevocable, non-exclusive licence to use, reproduce, modify, translate, display, archive, make available, distribute, sub-license and make derivative works from the User Content in whole or in part and in any form or media. Avox Limited reserves the right to contact you by e-mail with regard to your use of the Forums.
			<br /><br />
			If you believe that User Content infringes any legal rights that you may have, you should notify Avox Limited immediately with specific details by logging an issue at <a href="http://www.avox.info/emailform.php">http://www.avox.info/emailform.php</a>.
		<br /><br /></li>

		<li><a name="4"></a><strong>WARRANTIES AND LIMITATION OF LIABILITY</strong><br /><br />

			Each data record on  wiki-data.com that is linked to an AVID has been independently verified by Avox Limited data analysts against authoritative sources. It is also scrutinized by numerous global financial institutions whose feedback we proactively solicit on a daily basis. There will however inevitably be some errors, omissions and/or out of date information.
			<br /><br />

			The Wiki-Data is only for your general information and use and is not intended to address your particular requirements. 
			<ol class="sub_list">
				<li>LIMITED WARRANTY<br /><br />
					What we can guarantee: AVOX LIMITED SHALL DEVELOP AND OPERATE WIKI-DATA.COM WITH REASONABLE SKILL AND CARE AND HAS REASONABLE SECURITY PROCEDURES IN PLACE.
					<br /><br />
					What we cannot guarantee: EXCEPT AS SET OUT IN THE PARAGRAPH ABOVE, AVOX LIMITED DOES NOT GIVE ANY WARRANTIES IN RESPECT OF WIKI-DATA.COM OR THE WIKI-DATA ON OR THROUGH WIKI-DATA.COM. TO THE EXTENT ALLOWED BY APPLICABLE LAW, AVOX LIMITED HEREBY DISCLAIMS ALL OTHER WARRANTIES, CONDITIONS OR DUTIES OF EVERY NATURE WHATSOEVER (EXCEPT ANY DUTIES OF GOOD FAITH), INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF SATISFACTORY QUALITY, MERCHANTABILITY OR OF FITNESS FOR A PARTICULAR PURPOSE, ANY EXPRESS OR STATUTORY WARRANTIES, AND ANY WARRANTIES OR DUTIES REGARDING ACCURACY, TIMELINESS, COMPLETENESS, PERFORMANCE, AVAILABILITY, LACK OF NEGLIGENCE OR OF WORKMANLIKE EFFORT. NEITHER DO WE PROVIDE ANY WARRANTY THAT WIKI-DATA.COM IS FREE FROM INFECTION BY VIRUSES OR ANYTHING ELSE THAT HAS CONTAMINATING OR DESTRUCTIVE PROPERTIES.<br /><br /></li>

				<li>OUR LIABILITY EXCLUSION<br /><br />
					TO THE FULL EXTENT ALLOWED BY APPLICABLE LAW, YOU AGREE THAT AVOX LIMITED WILL NOT BE LIABLE TO YOU FOR ANY LOSSES WHICH RELATE TO YOUR BUSINESS OR INVESTMENT CHOICES OR WHICH ARE NOT A DIRECT CONSEQUENCE OF YOUR USE OF WIKI-DATA.COM (INCLUDING LOST PROFITS OR LOSS OF PRIVACY OR LOSS OF OR DAMAGE TO DATA) OR WHICH ARISE AS A RESULT OF YOU USING WIKI-DATA.COM OUTSIDE THE SCOPE OF THESE TERMS AND CONDITIONS.
					<br /><br />

					IN ADDITION TO BUT SEPARATE FROM THE ABOVE SPECIFIC EXCLUSION AND TO THE FULL EXTENT ALLOWED BY APPLICABLE LAW, YOU ALSO AGREE THAT AVOX LIMITED WILL NOT BE LIABLE TO YOU FOR ANY OTHER INDIRECT, SPECIAL, CONSEQUENTIAL INCIDENTAL, PUNITIVE OR EXEMPLARY DAMAGES WHATSOEVER THAT ARISE OUT OF OR ARE RELATED TO YOUR USE OF WIKI-DATA.COM.<br /><br /></li>

				<li>YOUR REMEDIES<br /><br />
					AVOX LIMITED SHALL USE REASONABLE ENDEAVOURS TO PROMPTLY REMEDY ANY FAULTS IN WIKI-DATA.COM OF WHICH IT IS AWARE.
					<br /><br />
					YOU AGREE THAT YOUR ONLY OTHER REMEDY (INCLUDING FOR NEGLIGENCE) FOR ANY DAMAGES THAT YOU INCUR ARISING OUT OF YOUR USE OF WIKI-DATA.COM (TO THE EXTENT THAT AVOX LIMITED'S LIABILITY IS NOT EXCLUDED BY THIS SECTION 4) IS LIMITED TO THE DIRECT DAMAGES YOU ACTUALLY INCUR ARISING OUT OF YOUR USE OF WIKI-DATA.COM. THIS IS SUBJECT TO A LIMIT EQUAL TO THE AMOUNT OF GBP 10,000 IN TOTAL. 
					<br /><br />
					IF A COURT OF COMPETENT JURISDICTION DETERMINES THAT THE ABOVE LIMITS ON OUR LIABILITY ARE UNENFORCEABLE, THEN YOU AGREE THAT IN ANY EVENT OUR TOTAL LIABILITY TO YOU SHALL NOT EXCEED GBP 50,000.
					<br /><br />
					The above disclaimers and restrictions on liability apply equally to your use of wiki-data.com and all Wiki-Data.<br /><br /></li>

				<li>OTHER INFORMATION<br /><br />
					Without limiting the above, Avox Limited is not liable for matters beyond its reasonable control. Avox Limited does not control third party communications networks (including your Internet service provider), the Internet, acts of God or the acts of third parties.
					<br /><br />
					Notwithstanding anything else contained in the provisions of this Section 4, Avox Limited's liability will not be limited in the case of death or personal injury directly caused by Avox Limited's negligence. </li>
			</ol>
		<br /><br /></li>


		<li><a name="5"></a><strong>Third Party Sites and Services</strong><br /><br />

			wiki-data.com may contain links to other Internet websites or online services provided by independent third parties ("Third Party Sites"), either directly or through frames. Third Party Sites may be co-branded with Avox Limited and so include Avox Limited's trade mark. Avox Limited is not responsible for the availability or content of Third Party Sites and will not be a party to, or in any way responsible for, any transaction concerning goods or services available from such Third Party Sites. If you purchase products or services from a Third Party Site your contract for such products or services will be with the third party and not with Avox Limited. Our <a href="http://www.avox.info/privacy.shtml">Privacy Policy</a> does not apply to Third Party Sites. 
			<br /><br />
			wiki-data.com may contain advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on wiki-data.com complies with international and national law. Avox Limited will not be responsible for any error or inaccuracy in advertising or sponsorship material.<br /><br /></li>

		<li><a name="6"></a><strong>Choice of Law and Jurisdiction</strong><br /><br />
			These Wiki-Data Terms of Use shall be governed by, and construed in accordance with, English law.
			<br /><br />
			To the extent possible in the applicable jurisdiction, the parties irrevocably agree that the courts of England shall (subject to the paragraph below) have non-exclusive jurisdiction to settle any dispute which may arise out of, under, or in connection with these Wiki-Data Terms of Use.
			<br /><br />

			For the exclusive benefit of Avox Limited and to the extent possible in the applicable jurisdiction, Avox Limited shall retain the right to bring or enforce proceedings as to the substance of the matter in the courts of the country of your residence or, where these Wiki-Data Terms of Use are entered into in the course of your trade or profession, the country of the place of business in which you agreed to these Wiki-Data Terms of Use or (if different) the country of your principal place of business.
		<br /><br /></li>

		<li><a name="7"></a><strong>General</strong><br /><br />
			If any provision of these Wiki-Data Terms of Use is found to be invalid by any court having competent jurisdiction, the invalidity of that provision will not affect the validity of the remaining provisions of these Wiki-Data Terms of Use, which shall remain in full force and effect.
			<br /><br />
			Failure by either party to exercise any right or remedy under these Wiki-Data Terms of Use does not constitute a waiver of that right or remedy. Headings in these Wiki-Data Terms of Use are for convenience only and will have no legal meaning or effect.
		<br /><br /></li>

		<li><a name="8"></a><strong>Changes to Terms and Conditions</strong><br /><br />

			These Wiki-Data Terms of Use were published on 29 May 2009 and replace with immediate effect the Wiki-Data Terms of Use previously published on 23 April 2009.
		</li>
	</ol>		
</div>