{%- extends "master/page.html"-%}
{% set idea=tiddlers[0] %}
{% block body %}

<div class='points'>
  <div class='number'>{{idea.fields.points}}</div>
  <form action='/ideas/stats/INCREMENT?tiddler={{idea.title}}&bag=ideas&field=points&value=1' method='post'>
  <input type='submit' value='VOTE UP'/>
  </form>
</div>
<h1>{{ idea.title }}</h1>
<p class='subtitle'>from the brain of <a href='/ideas/profile/{{idea.modifier}}'>{{idea.modifier}}</a></p>
<p>{{idea.text}}</p>
<div class='commentArea'>

</div>

<p>tags</p>
{% for tag in idea.tags %}
{{tag}}<br/>
{% endfor %}

{% endblock %}
