{%- extends "master/page.html"-%}
{% block body %}


<hr />

LEFT SIDE BAR 



<hr/>

<p>Every 15 minutes integration will occur on 

  <a href='http://bruce.osmosoft.com:8080'>this url if you are greenside</a> or 
  <a href='http://10.10.1.10:8080'>if you are on the osmosoft network.</a></p>

<ul>
  <li><a href='/ideas/idea/ItsGoodToWoofWithBT'>idea page</a></li>
  <li><a href='/ideas/list'>list of ideas</a></li>
  <li><a href='/ideas/submit'>submit an idea</a></li>
  <li><a href='/ideas/profile/mahemoff'>sample profile</a></li>
  <li><a href='/ideas/bags'>tiddlyweb bags</a></li>
  <li><a href='/ideas/recipes'>tiddlyweb recipes</a></li>
  <li><a href='/ideas/bags/ideas/tiddlers.wiki'>ideas in a tiddlywiki</a></li>
</ul>

<p>send an e-mail to myidea@jonrobson.me.uk
user stories can be found here on <a href='http://osnet.osmosoft.com/recipes/ideas/tiddlers.wiki'>osnet</a>

<hr/>
RIGHT SIDE BAR 



{% endblock %}


{% block submitIdeaButton %}
{%include "submitIdeaButton.html" %}
{% endblock %}

{% block tags %}

<div class='tags'>
<p>tags:</p>
{{"/ideas/tags/ideas"|load_from_url}}
</div>
{% endblock %}