{%- extends "master/page.html" -%}
{% block rss %}
<link href="/ideas/bags/ideas/tiddlers.atom" rel="alternate" type="application/rss+xml" title="RSS"/>
{% endblock %}

{% block body %}




Welcome to the New Ideas website.

Seen something interesting out there? Sitting on a great idea? Fancy earning up to £30,000 extra ??

Submit your idea here and get the ball rolling.

You can also view, comment and collaborate on the ideas of others. Share your opinions and help drive innovation.


{% endblock %}

{% block stream %}

<div class='stream'>
{{"/ideas/list"|load_from_url}}
</div>
{% endblock %}


{% block submitIdeaButton %}
{%include "submitIdeaButton.html" %}
{% endblock %}

{% block tags %}

<div class='tags'>
<p>tags:</p>
{{"/ideas/tags/ideas"|load_from_url}}
</div>

<p>send an e-mail to myidea@jonrobson.me.uk
user stories can be found here on <a href='http://osnet.osmosoft.com/recipes/ideas/tiddlers.wiki'>osnet</a>

{% endblock %}