{% set order_direction = "-" %}
{% set qs = environ['QUERY_STRING'] %}
by <a href='?{{qs}}&sortby={{order_direction}}created'>date</a> <a href='?{{qs}}&sortby={{order_direction}}points'>points</a> <a href='?{{qs}}&sortby={{order_direction}}name'>name</a>

{% if environ['tiddlyweb.query']['sortby'] %}
{% set sort_attr = environ['tiddlyweb.query']['sortby'][0] %}
{% else%} 
{% set sort_attr ="-points" %} 
{% endif %}

  {% for idea in tiddlers|tiddlersort(sort_attr)%}
<h2><a href='/ideas/idea/{{idea.title}}'>{{idea.title}}</a></h2>
<div class='points'><div class='number'>{{idea.fields.points}}</div></div>
tagged with: {% for tag in idea.tags %}{{tag}} {% endfor %}{% if idea.tags|length == 0%}no tags{%endif%}
<p>{{idea.text}}</p>
{% endfor %}

<a href='/ideas/index'>index</a>
<a href='/ideas/submit'>submit an idea</a>
<a href='/ideas/bags/ideas/tiddlers.wiki'>as a tiddlywiki</a>

