{%- extends "master/page.html"-%}
{% set profile=tiddlers[0] %}



{% block leftNav %}

Badges : {% for tag in profile.tags %}<span class='badge'>{{tag}}</span>{% endfor %}{% if profile.tags|length == 0%}no tags{%endif%}

{% endblock %}

{% block body %}
<h1>{{ profile.title }}</h1>


<!--<img src='{{ profile.fields.avatar }}'/>-->

<img src='http://farm3.static.flickr.com/2556/3911191653_cc03221856_m.jpg' />
<p>{{profile.text}}</p>
<h1>Ideas({{inbag['ideas']|length}})</h1>
<ul>
{% for idea in inbag['ideas'] %}<li><a href="/ideas/idea/{{idea.title}}">{{idea.title}}</a></li>{% endfor %}{% if inbag['ideas']|length == 0%}no ideas{%endif%}
</ul>



{% endblock %}



{% block submitIdeaButton %}
{%include "submitIdeaButton.html" %}
{% endblock %}
{% block tags %}
<p>tags:</p>
{{"/ideas/tags/ideas"|load_from_url(qs='filter=modifier:'+profile.title)}}

{% endblock %}
{% block topContributors %}
{% endblock %}