/* TODO prepend .comments?Area selector to each selector  */

.commentsArea { }

.comments h1 { margin-bottom: 0; padding-bottom: 0; }
.comments { padding: 0; }
.comment .comments { margin-left: 2em; }

.comment { padding: 0; margin: 1em 0 0; }
.comment .comment { margin 0; }
.comment .toolbar .button { border: 0; color: #9a4; }
.comment .heading { background: #8cf; color: #014; border-bottom: 1px solid #18f; border-right: 1px solid #18f; padding: 0.5em 0.5em 0.25em; height: 1.3em; 
                    font-size: small; }
.commenterMessage { float: left; }
.permalink { float: left; margin-right: 0.5em; }
.permalink:hover { text-decoration: underline; cursor: pointer; }
.commentText { clear: both; padding: 1em 1em; }
.deleteComment { float: right; cursor: pointer; text-decoration:none; color:#841; padding-right: 0.3em; }
.comment .reply { margin-left: 1em; }
.comment .replyLink { color:#841; font-style: italic; font-size: small;
                     cursor: pointer; text-decoration: underline; width: 1em; margin: 0 auto 0 1em; }
.comment .created { }
.comment .newReply { color:#841; margin-top: 1em; }
.commentsArea td { text-align: right; padding: 0.3em; }

.newReplyLabel { float: left; }
.closeNewReply { cursor: pointer; float: right; text-decoration: underline; }
.commentsArea .commentWrapper { margin: 5px 0; padding: 3px; border: 1px solid #999; background: white; }
.commentsArea textarea { width: 100%; border: 0; }
.commentsArea button { margin-top: 0.3em; margin-left: 0; }
.newCommentArea { margin-top: 1em; }
.newCommentLink { font-size: x-small; }

.commentsLoginArea { margin: 0.5em 0; }

.clearance { clear: both; height: 1px; }
.commentsArea a,a:visited { color: #00b; }

.standaloneCommentsContainer { padding: 1em 10%; }

.embeddedCommentsContainer { padding: 1em 0.7em; }
.embeddedCommentsContainer .comment .comments { margin-left: 1em; }
.embeddedCommentsContainer .pageInfo { display: none; }

.pseudoLink { color: #00b; cursor: pointer; }

.commentsArea h2 a { font-size: x-small; }
