<%= error_messages_for 'user' %>

<!--[form:user]-->          
<p><label for="user_login">Login</label><br/>
<%= text_field 'user', 'login'  %></p>

<p><label for="user_admin">Admin</label><br/>
<%= text_field 'user', 'admin'  %></p>
<!--[eoform:user]-->

