#need this? http://forum.modrewrite.com/viewtopic.php?t=1443&sid=09c472955dbde119b065e8d3867e5b04
#Options +FollowSymLinks 

#turn on rewrite engine
RewriteEngine On

#rewrite if request path is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ([^/]*)/?$ index.php?workspace=$1&%{QUERY_STRING}	[L]
