<span macro="showWhenTagged Project">
	<span macro="toggleTag Complete . -"></span>
	<span macro="multiToggleTag ProjectStatus longVersion:on"></span>
	<span macro="singleToggleTag tag:Starred"></span>
	<br/>
	Area:<span macro="multiSelectTag Area"></span>
	Realm:<span macro="multiSelectTag Realm"></span>
</span>

<span macro="showWhenTagged Action">
	<span macro="toggleTag Done . -"></span>
	<span macro="multiToggleTag ActionStatus longVersion:on"></span>
	<span macro="singleToggleTag tag:Starred"></span>
	<br/>
	Context:<span macro="multiSelectTag Context"></span>
	Project:<span macro="multiSelectTag Project"></span>
	Realm:<span macro="multiSelectTag Realm"></span>
</span>

<span class='subtitle'>
	<span macro='view modified date {{config.mptwDateFormat?config.mptwDateFormat:"MM/0DD/YY"}}'></span>
	(<span macro='message views.wikified.createdPrompt'></span>
	<span macro='view created date {{config.mptwDateFormat?config.mptwDateFormat:"MM/0DD/YY"}}'></span>)
</span>


