
<div macro="showWhenTagged Project" class="viewer">
<table class="twocol">
<tr>

<td>

<div macro="mgtdList title:'Next Actions' tags:'Action && Next && !Done' view:ActionProj
	group:Context
	gView:Context
	where:tiddler.hasActiveProject()
	"></div>

<div macro="mgtdList title:'Waiting Actions' tags:'Action && [(Waiting For)] && !Done' view:ActionProj
	group:Context
	gView:Context
	where:tiddler.hasActiveProject()
	"></div>

</td>
<td>

<div macro="mgtdList title:'Future Actions' tags:'Action && Future && !Done' view:ActionProj
	group:Context
	gView:Context
	where:tiddler.hasActiveProject()
	"></div>

<div macro="mgtdList title:'Done Actions' tags:'Action && Done' view:DoneAction
	"></div>

</td>

</tr></table>


</div>

