#content-challenge tr, #content-suggest tr, #content-request tr {
	background-color: transparent;
}

#content-request td {
	padding: 0 5px;
}

#content-request p.entity-name {
	font-style: italic;
	margin-bottom: 10px;
}

#content-challenge h2, #content-suggest h2, #content-request h2 {
	margin-bottom: 0;
}

#rightpanel, #leftpanel {
	color: black;
}

#submit {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 8px;
}

.existing {
	width:185px;
	background-color:#0F242B;
	-moz-border-radius:.3em;
	-moz-border-radius:.3em;
	-webkit-border-radius:.3em;
	-webkit-border-radius:.3em;
	padding: 0px 10px;
}

.existing span {
	color: white;
	line-height: 1.5em;
}