/* generic classes */
a {
	text-decoration: none;
	font: inherit;
	color: inherit;
	border-bottom: 1px dotted #000099;
}

a:hover, a:visited, a:active {
	color: inherit;
}

a:hover {
	/*background-color: #dddddd;*/
	background-color: #487C89;
}

body {
	font-family: "Gill Sans", "Trebuchet MS", "Helvetica", "Arial";
	color: #fff;
	font-size: 1em;
	background-color: #5bb1b1;
}

h1 {
	background: url("/static/test_images/logo.gif") top left no-repeat;
	height: 159px;
	background-position: center left;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

table {
	margin-bottom: 10px;
	border-collapse: collapse;
	color: #000000;
}

th {
	cursor: pointer;
	color: #fff;
}

tbody {
	background-color: #fff;
}

/* these rules have been split up so that IE can read the non-pseudo-class rules */
tr.even {
	background-color: #76BEBE;
}
tr:nth-child(even) {
	background-color: #76BEBE;
}
tr.odd {
	background-color: #ffffff;
}
tr:nth-child(odd) {
	background-color: #ffffff;
}

pre, code {
	font-family: monospace;
	background-color: #387781;
}

pre {
	border: 1px solid #7AAEB9;
	line-height: 150%;
	margin: 10px 0;
	padding: 10px;
}

.small {
	font-size: 0.8em;
}

.imagereplace {
	text-indent: -9999px;
	display:block;
	overflow: hidden;
}

.wrap {
	width: 926px;
	margin: auto;
}

.bigwrap {
	width: 1080px;
	margin: auto;
}

.clear {
	overflow: auto;
}

.clearboth {
	clear: both;
}

.lightborder {
	border: 1px solid #c1d6dd;
}

.grid1col {
	width: 231px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.margintop {
	margin-top: 20px;
}

.darktext {
	color: #000101;
}
.whitetext {
	color: #ffffff;
}
.darkgreen {
	background-color: #0f242b;
}

.lightgrey {
	background-color:gray;
}

.caps {
	text-transform: uppercase;
}

.norightborder {
	border-right: 0;
}

.noleftborder {
	border-left: 0;
}

.bluebox {
background-color:#487C89;
}

.lightbluebox {
background-color: #76BEBE;
}

.lightblueborder {
border:1px solid #7AAEB9;
}

.relative {
	position: relative;
}

.z1 {
	z-index: 1;
}

.captcha_error {
	color: #ff0000;
}

.onlyjs {
	visibility: hidden;
}

/*.js .onlyjs {
	visibility: visible;
}*/

/* backstage */
#backstage {
	position: absolute;
	top: 0;
	right: 0;
	height: 16px;
	width: 100%;
	padding: 2px;
	text-align: right;
	font-size: small;
	z-index: 3;
}
#backstage.loggedIn {
	background-color: #ffff66;
	color: black;
}

/* image replacements */

#suggestlogo {
	background: url("/static/test_images/suggest.gif") top right no-repeat;
	height: 44px;
}

#searchlogo {
	background: url("/static/test_images/search.gif") top right no-repeat;
	height: 44px;
}

#devlogo {
	background: url("/static/test_images/dev.gif") top right no-repeat;
	height: 44px;
}

#aboutlogo {
	background: url("/static/test_images/about.gif") top right no-repeat;
	height: 44px;
}

/* header */

#header {
	height:163px;
	border-bottom: 1px solid #fff;
	background: #021423;
	position: relative;
}

#header a {
	border: 0;
	background-color: transparent;
}

#counter {
	position:absolute;
	text-transform: uppercase;
	background: solid;
	bottom: -28px;
	right: 28px;
}

#counter span {
	float:left;	
	padding: 5px;
}

#counter #fruitmachine {
	bottom: 6px;
	padding: 3px;
	position: relative;
}

#fruitmachine img {
	position: relative;
	top: 1px;
}

#navheader p {
	padding: 6px 7px 0 30px;
}

#navheader .grid1col {
	margin-top: 40px;
}

/* pagenav */

#pagenav {
	height: 103px;
}

#pagenav ul {
	padding-top: 40px;
	position: relative;
	right: 1px;
}

#pagenav li {
	display: inline;
}

#pagenav a {
	text-decoration: none;
	color: #fff;
	padding: 2px 10px 2px 173px;
	border: 1px solid #C1D6DD /* supplementing .lightborder class since <a> rule interferes with .lightborder */
}

/* main content */

#content {
}

.contentbg {
	background: #5bb1b1 url("/static/test_images/long_grad_bg.png") top left repeat-x;
	margin-bottom: 10px;
}

/* footer */
#footer {
	background-color: #387781;
	margin-top: 50px;
}

#footer ul {
	padding: 8px 15px;
}

#footer li {
	display: inline;
	padding-right: 5px;
	font-size: 0.8em;
}

#footer a {
	color: #fff;
}

#footer a:hover {
	background-color: #183132;
}