a {
color: expression(this.parentNode.currentStyle.color); /* sorts out IE not supporting color:inherit */
text-decoration: none;
}

a h1 {
cursor: pointer;
}

a h2 {
cursor: pointer;
}

.notIE {
	visibility: hidden;
}