

/* main content */

#content {
}

#search {
	background-color: #487c89;
	border: 1px solid #7aaeb9;
	padding: 15px 10px;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}
#search span {
	text-transform:  lowercase;
}

#search a {
	text-transform:  lowercase;
	font-style: italic;
	color: white;
	font-weight: normal;
	text-decoration: none;
}

/* Search Title */

#searchtitle {
	border-top:1px solid white;
	border-bottom:1px solid white;
	padding: 5px 0;
	overflow: auto;
	margin-bottom: 10px;
}
#searchtitle span {
	font-style: italic;
	line-height: 2em;
	float: left;
	/*display: inline-block; */ /* JRL: to allow you to see the bottom-border on any links in IE7 */
}
#searchtitle h2 {
	letter-spacing: 0.05em;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	padding: 0;
	margin: 0;
}

/* results table */

tfoot tr th, thead tr th{
	background-color: #183132;
	text-transform: uppercase;
}

tr th {
	padding: 8px 5px;
	/*text-align: center;*/
}

tr td {
	padding: 5px 5px;
}

#table {
	font-size: 0.65em;
	letter-spacing: 0.06em;
}

#recordsTable_wrapper { /* only present when DataTables kicks in */
	/*overflow-x: auto;*/
}

.js #table {
	visibility: hidden;
}

#recordsTable tbody td {
	/*color: #cbe1ea;*/
	font-size: 1.2em;
}

#recordsTable th td {
	background-color: #183132;
}

/* JavaScript-specific styles */

.advSearchLine {
	padding-top: 10px;
}

.advSearchLine select, .advSearchLine input, .advSearchLine button {
	margin-right: 5px;
}

/* Table Info */
#tableinfo {
	font-size: 1.25em;
	margin: 10px 0;
}

#columnPicker {
	width:260px;
	float: right;
	clear: both;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
}

#pickerControl {
	cursor: pointer;
}

#cols {
	/*clear: both;*/
	background-color: #183132;
	position:absolute;
	right:0;
	top:22px;
	z-index: 2;
}

#cols .columns {
	margin-top: 5px;
}

#cols .controls {
	float: right;
	text-align: right;
	display: block;
}

#cols .controls {
	cursor: pointer;
}

#cols .controls.invisible .hideControl, #cols .controls.visible .showControl {
	text-transform: lowercase;
	font-style: italic;
	cursor: default;
}

.js #columnPicker #cols {
	display: none;
}

#results_count {
	margin-top: 10px;
}

/*
#tableinfo {	
	position: relative;
	margin: 30px 0 0;
	text-transform: uppercase;
	/*font-size:0.65em; this messes up font-sizing in IE */
	/*font-weight: bold;
}

#tableinfo button {
	padding: 2px 10px;
	font-size: 0.9em;
	font-weight: bold;
}

#tableinfo a {
	color: #000101;
}*/

/*
#columnPicker {
	position: relative;
	z-index: 1;
}
*/
/*#columnPicker {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 0;
	background-color: #EEEEEE;
	position: absolute;
	top: 3px;
	right: 5px;
	display: block;
	line-height: 12px;
	z-index: 3;
}*/
/*
#pickerControl {
	cursor: pointer;
}

#columnPicker #cols {
	background-color: #183132;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 2em;
}

#columnPicker #cols .columns {
	padding-bottom: 5px;
}

.js #columnPicker #cols {
	display: none;
}

#cols .controls {
	float: right;
	padding-left: 10px;
}

#cols .controls {
	cursor: pointer;
}

#cols .controls.invisible .hideControl, #cols .controls.visible .showControl {
	text-transform: lowercase;
	font-style: italic;
	cursor: default;
}*/
