body {
	margin:0;
	padding:0;
}

canvas {
	border:1px solid;
}

button {
	margin-top:3px;
}

div#wrapper {
	margin:0 auto;
	width:800px;
	min-width:800px;
}

div#wrapper > div {
	display:inline;
	padding:10px;
}

div#leftpane {
	margin:auto;
	float:left;
	width:400px;
}

div#rightpane {
	float:left;
	width:350px;
}